.dice-tray {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 5px;
  margin: 3px;
  background: url("/systems/VTM5E/assets/images/background-green-marble.jpg"), #153b23;
  background-size: cover;
  border: 2px solid #1e5e35;
  border-radius: 5px 5px 0 0;
}

.dice-tray > * {
  margin: 2px;
}

.dice-tray .flexrow {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.dice-tray__character {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.dice-tray__custom-rolls {
  display: grid;
  margin: 0.5em 0;
  grid-template-columns: 2fr 15px 2fr 1fr;
  grid-template-areas:
    "pool1 concat pool2 roll"
    "opts1 .      opts2 roll";
}

.dice-tray .dice-tray__label {
  display: block;
  height: 31px;
  line-height: 31px;
}

.dice-tray .dice-tray__input,
.dice-tray .dice-tray__select {
  display: block;
  color: #fff;
  font-size: 14px;
  height: 31px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.15);
  border: 1px solid #000;
  -webkit-box-shadow: 0 0 6px inset #fff;
  box-shadow: 0 0 6px inset #fff;
  -webkit-transition: all ease-in-out 0.25s, visibility 0s;
  -o-transition: all ease-in-out 0.25s, visibility 0s;
  transition: all ease-in-out 0.25s, visibility 0s;
}

.dice-tray .dice-tray__concatenate {
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.dice-tray__button.rollButton {
  height: 100%;
  grid-area: roll;
}

.dice-tray__button .rollImage {
  border: 0;
  filter: invert();
}

.dice-tray__pool-filters.pool1Filters {
  grid-area: opts1;
}

.dice-tray__pool-filters.pool2Filters {
  grid-area: opts2;
}

.dice-tray__button.smallButton {
  height: 20px;
  width: 20px;
}

.dice-tray__pool-filters label,
.dice-tray__pool-filters input {
  display: block;
  position: absolute;
  font-size: 11px;
  line-height: 10px;
  padding: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
}

.dice-tray__pool-filters input[type="radio"] {
  opacity: 0.011;
  z-index: 2;
}

.dice-tray__pool-filters label {
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.dice-tray__filter-spacer {
  padding: 6px;
}

#selectedCharacter {
  width: 200px;
}

.dice-tray__searchable-select {
  height: 31px;
  position: relative;
}

.dice-tray__searchable-select-cover {
  min-height: 31px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dice-tray__searchable-select-hover {
  width: 100%;
  height: 31px;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.dice-tray__searchable-select-fields {
  border: 1px solid #767676;
  border-bottom: 0;
  z-index: 3;
  position: relative;
  display: none;
}

.dice-tray__searchable-select-input {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
}

.dice-tray__searchable-select-options {
  max-height: 500px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background: white;
  color: black;
  overflow-y: scroll;
}

.dice-tray__searchable-select-options li {
  padding-left: 5px;
  height: 29px;
  font-size: 14px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dice-tray__searchable-select-options li:hover,
.dice-tray__searchable-select-options li:focus {
  background: #1e90ff;
  cursor: pointer;
  color: white;
  outline: none;
}

.dice-tray .dice-tray__input:hover,
.dice-tray .dice-tray__input:focus,
.dice-tray .dice-tray__select:hover,
.dice-tray .dice-tray__select:focus,
.dice-tray__searchable-select-hover:hover {
  border: 1px solid #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}

.dice-tray__searchable-select-options:hover li:not(:hover) {
  background: white;
  color: black;
}

.dice-tray button {
  background: transparent;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: 0 0 6px inset #8d9ea7;
  box-shadow: 0 0 6px inset #8d9ea7;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  position: relative;
}

.dice-tray button:hover,
.dice-tray__pool-filters input[type="radio"]:checked + label {
  color: #ff6400;
  border-color: #ff6400;
  -webkit-box-shadow: 0 0 6px inset #ff6400;
  box-shadow: 0 0 6px inset #ff6400;
}
