@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: "Cormorant Light";
  src: url("../assets/fonts/Cormorant-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

#sidebar.app {
  background: rgba(20, 0, 0, 0.9);
}

/* Grids and Flexboxes */
.grid {
  display: grid;
  margin: 10px 0;
  padding: 0;
  gap: 10px;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-2col {
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-center {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.flex-left {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}
.flex-between {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2px auto;
}
.flex-group-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #780813;
}
.flex-group-center input[type=number] {
  margin: auto 2px;
}
.flex-group-center input[type=text] {
  display: inline;
  border: 1px solid transparent;
}
.flex-group-center:not(.flexrow) .resource-counter,
.flex-group-center:not(.flexrow) .resource-value {
  margin-top: 5px;
}
.flex-group-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding: 2px;
  border: 1px solid #780813;
  border-radius: 5px;
}
.flex-group-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  padding: 2px;
  border: 1px solid #780813;
  border-radius: 5px;
}

/* Rollable */
.custom-rollable:hover, .custom-rollable:focus,
.power-rollable:hover,
.power-rollable:focus,
.rollable:hover,
.rollable:focus,
.rollable-with-mod:hover,
.rollable-with-mod:focus,
.vrollable:hover,
.vrollable:focus {
  cursor: pointer;
  background: #6d131c;
  border-color: #6d131c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Chat Messages */
#chat-form textarea {
  background: #faf4eb;
}

.chat-message {
  background: #faf4eb;
}

.roll-content {
  font-size: 120%;
}
.roll-content.result-bestial.result-possible {
  font-family: "Cormorant Light", sans-serif;
  font-weight: bold;
}
.roll-img {
  max-width: 30px;
  margin: 1px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
.roll-img.hunger-dice {
  background: rgba(255, 230, 230, 0.5);
  border-color: #780813;
}
.roll-label {
  font-family: "Cormorant Light", sans-serif;
  font-size: 130%;
  font-weight: bold;
}
.roll-label .danger {
  color: #841515;
}
.roll-label .success {
  color: #18510b;
}

.willpower-reroll .die {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.willpower-reroll .selected::after {
  content: "X";
  position: absolute;
  color: #780813;
  font-size: 30px;
  margin-left: -25px;
  margin-top: -2px;
}

/* .vtm5e System Class */
.vtm5e button.rollable, .vtm5e button.rollable-with-mod {
  color: var(--color-text-light-0);
  background: #780813;
  border: none;
  margin: auto 2px;
  font-family: "Cormorant Light", sans-serif;
  font-weight: bold;
}
.vtm5e button.rollable:hover, .vtm5e button.rollable:active, .vtm5e button.rollable-with-mod:hover, .vtm5e button.rollable-with-mod:active {
  cursor: pointer;
  background: #6d131c;
  border-color: #6d131c;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.vtm5e input {
  background: var(--color-text-light-0);
  border: 1px solid var(--color-border-light-primary);
  font-family: initial;
}
.vtm5e .items-list .flex-left {
  padding-right: 21px;
}
.vtm5e .items-list .item {
  min-height: 30px;
  min-width: 100%;
  padding: 3px 0;
  border-bottom: 1px solid #ababab;
  line-height: 24px;
}
.vtm5e .items-list .item img {
  display: block;
}
.vtm5e .items-list .item-controls {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 86px;
          flex: 0 0 86px;
  text-align: right;
  color: #780813;
}
.vtm5e .items-list .item-header {
  color: #780813;
  border-bottom: 1px solid #780813;
  padding: 3px 0;
  min-height: 30px;
  font-weight: bold;
  line-height: 24px;
}
.vtm5e .items-list .item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  margin-right: 5px;
}
.vtm5e .items-list .item-name {
  color: inherit;
  margin: 0;
  font-weight: 600;
}
.vtm5e .items-list .item-name-header {
  margin: 0;
  font-weight: bold;
}
.vtm5e .collapsible:hover, .vtm5e .collapsible:focus {
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 10px #780813;
}
.vtm5e .collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.vtm5e .description-content {
  display: inline;
  height: 95%;
  background: transparent;
  border: 1px solid transparent;
  padding: 5px;
}
.vtm5e .item {
  width: calc(100% / 6);
}
.vtm5e .item-name h3 {
  line-height: 18px;
  font-weight: bold;
  -webkit-box-flex: 4;
      -ms-flex: 4 0 0px;
          flex: 4 0 0;
  text-align: center;
}
.vtm5e .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.vtm5e .resource-counter .resource-counter-step {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid black;
  cursor: pointer;
}
.vtm5e .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #780813;
}
.vtm5e .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}
.vtm5e .resource-counter .resource-counter-step[data-state=x] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
}
.vtm5e .resource-label {
  font-weight: bold;
}
.vtm5e .resource-value-static .resource-value-static-step.active {
  background-color: #780813;
}
.vtm5e .resource-value .resource-value-step, .vtm5e .resource-value .resource-value-static .resource-value-static-step, .vtm5e .resource-value-static .resource-value .resource-value-static-step {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.vtm5e .resource-value .resource-value-step.active, .vtm5e .resource-value .resource-value-static .active.resource-value-static-step, .vtm5e .resource-value-static .resource-value .active.resource-value-static-step {
  background-color: #780813;
}
.vtm5e .resource-value .resource-value-empty {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, black 45%, black 55%, transparent 57%, transparent 100%);
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.vtm5e .profile-img {
  background: #780813;
  border-radius: 2px 2px 0px 0px;
}
.vtm5e .item-image img {
  background: #780813;
  border-radius: 2px;
}
.vtm5e .coterie-sheet .sheet-header,
.vtm5e .ghoul-sheet .sheet-header,
.vtm5e .mortal-sheet .sheet-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 155px;
          flex: 0 0 155px;
}
.vtm5e .ghoul-sheet .window-content .header-fields .resource {
  border: none;
}
.vtm5e .locked .resource-value-empty:not(.hungervalue), .vtm5e .locked .resource-value-step:not(.hungervalue), .vtm5e .locked .resource-value-static .resource-value-static-step:not(.hungervalue), .vtm5e .resource-value-static .locked .resource-value-static-step:not(.hungervalue) {
  cursor: default;
}
.vtm5e .locked .resource-minus, .vtm5e .locked .resource-plus {
  opacity: 0;
  cursor: default !important;
}
.vtm5e .locked .resource-minus:before, .vtm5e .locked .resource-plus:before {
  color: #780813;
  cursor: pointer;
}
.vtm5e .locked .resource-minus:before:hover, .vtm5e .locked .resource-plus:before:hover {
  cursor: pointer;
}
.vtm5e .limited .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
}
.vtm5e .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
}
.vtm5e .sheet-header h1.charname {
  padding: 0;
  margin: 5px 0;
  border-bottom: 0;
}
.vtm5e .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0px;
}
.vtm5e .sheet-header h2.limited-charname {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  width: 100%;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.vtm5e .sheet-header .header-fields {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.vtm5e .sheet-header .profile-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: auto;
  width: 100px;
  min-height: 50px;
  max-height: 205px;
  border-color: #780813;
  border-radius: 2px 2px 0px 0px;
}
.vtm5e .sheet-header .profile-img img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  height: 64px;
  margin-right: 6px;
}
.vtm5e .sheet-header .profile-img-zone {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 100px;
  margin-right: 10px;
}
.vtm5e .sheet-header .profile-img-zone button {
  -ms-flex-item-align: center;
      align-self: center;
  background: #780813;
  color: white;
  border: 1px solid #780813;
  border-radius: 0px 0px 2px 2px;
  font-family: "Cormorant Light", sans-serif;
  font-weight: bold;
}
.vtm5e .sheet-header .profile-img-zone button:hover {
  cursor: pointer;
  background: #6d131c;
  border-color: #6d131c;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.vtm5e .sheet-header .profile-img-zone h1 {
  -ms-flex-item-align: center;
      align-self: center;
  color: #780813;
  font-family: "Cormorant Light", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.vtm5e .sheet-body {
  height: 100%;
  min-height: 160px;
}
.vtm5e .sheet-body .tab, .vtm5e .sheet-body .tab .tox-tinymce, .vtm5e .sheet-body .tab .editor {
  height: 100%;
  min-height: 160px;
}
.vtm5e .sheet-body .tab .half-height {
  height: 50%;
}
.vtm5e .sheet-tabs {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.vtm5e .sheet.actor .window-content .skills {
  border: none;
}
.vtm5e .tab.disciplines .resource-value, .vtm5e .sheet-body .tab .disciplines.editor .resource-value, .vtm5e .sheet-body .tab .disciplines.tox-tinymce .resource-value {
  margin-top: 2px;
}
.vtm5e .tabs {
  height: 40px;
  border-top: 1px solid #780813;
  border-bottom: 1px solid #780813;
}
.vtm5e .tabs .item {
  width: calc(100% / 2);
  font-weight: bold;
  line-height: 40px;
}
.vtm5e .tabs .item.active {
  cursor: pointer;
  background: #6d131c;
  border-color: #6d131c;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  text-shadow: 0px 0px 2px black;
}
.vtm5e .tox .tox-editor-container {
  background: #faf4eb;
}
.vtm5e .tox .tox-edit-area {
  padding: 0 8px;
}
.vtm5e .window-content {
  background: #faf4eb;
  font-family: "Cormorant Light", sans-serif;
  font-weight: 600;
}
.vtm5e .window-content .abilities {
  border: none;
}
.vtm5e .window-content .abilities .ability .resource-control:hover, .vtm5e .window-content .abilities .ability .resource-control:focus {
  color: #000;
  cursor: pointer;
  text-shadow: 0 0 10px #780813;
}
.vtm5e .window-content .abilities .ability .resource-label {
  font-size: 18px;
  font-weight: bold;
}
.vtm5e .window-content .header-fields .resource {
  border: 1px solid #ababab;
  border-radius: 5px;
}
.vtm5e .window-content .resource-label {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 16px;
  text-transform: initial;
}
.vtm5e .window-content .resource-label.rollable:hover {
  background: transparent;
  text-shadow: 0 0 5px #780813;
}
.vtm5e .window-content .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 215px;
          flex: 0 0 215px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 10px;
}
.vtm5e .window-content .sheet-body .tab > .resource-label, .vtm5e .window-content .sheet-body .tab .editor > .resource-label, .vtm5e .window-content .sheet-body .tab .tox-tinymce > .resource-label, .vtm5e .window-content .sheet-body .tab .tox-tinymce .editor > .resource-label, .vtm5e .window-content .sheet-body .tab .tox-tinymce .tox-tinymce > .resource-label {
  display: block;
  width: 100%;
  color: #780813;
  border-bottom: 1px solid #780813;
  text-transform: uppercase;
}
.vtm5e .window-content nav.sheet-tabs {
  background: #faf4eb;
  border-color: #780813;
  color: #780813;
  height: 41px;
  margin-bottom: 20px;
  font-size: 16px;
}
.vtm5e .window-content nav.sheet-tabs .item {
  width: calc(100% / 2);
}
.vtm5e .window-content nav.sheet-tabs .item:hover {
  cursor: pointer;
  color: white;
  background: rgba(120, 8, 19, 0.9);
  text-shadow: 0px 0px 2px black;
}
.vtm5e .window-content nav.sheet-tabs .item.active {
  background: #780813;
  text-decoration: none;
  text-shadow: 0px 0px 2px black;
}
.vtm5e .window-content nav.sheet-tabs .item.active:hover {
  cursor: pointer;
  background: #6d131c;
  border-color: #6d131c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Other */
.skills.grid.grid-3col.flex-group-center {
  border-color: transparent;
}

.uppercase {
  font-family: "Cormorant Light", sans-serif;
  text-transform: uppercase;
}

#data.exp.max, #data.exp.value {
  margin: 2px;
}

#selected-character {
  width: 200px;
}

/* Dark Theme */
.vtm5e.dark-theme.actor.sheet .editor-content {
  color: black;
}
.vtm5e.dark-theme.item.sheet .editor-content {
  color: #e0e0e0;
}
.vtm5e.dark-theme select {
  background: #fff;
}
.vtm5e.dark-theme .items-list .item-header {
  color: #f6f6f6;
}
.vtm5e.dark-theme .resource-value .resource-counter .resource-counter-step {
  border: 1px solid white;
}
.vtm5e.dark-theme .resource-value .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #780813;
}
.vtm5e.dark-theme .resource-value .resource-counter .resource-counter-step[data-state="/"] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, red 45%, red 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, red 45%, red 55%, transparent 57%, transparent 100%);
}
.vtm5e.dark-theme .resource-value .resource-counter .resource-counter-step[data-state=x] {
  background: linear-gradient(45deg, transparent 0%, transparent 43%, red 45%, red 55%, transparent 57%, transparent 100%), linear-gradient(135deg, transparent 0%, transparent 43%, red 45%, red 55%, transparent 57%, transparent 100%);
}
.vtm5e.dark-theme .resource-value .resource-value-step {
  border: 1px solid #cdcdcd;
}
.vtm5e.dark-theme .resource-value .resource-value-step.active {
  background-color: #780813;
}
.vtm5e.dark-theme .resource-value .resource-value-static-step {
  border: 1px solid black;
}
.vtm5e.dark-theme .resource-value .resource-value-static-step.active {
  background-color: #780813;
}
.vtm5e.dark-theme .sheet-header .profile-img-zone h1 {
  color: #cc0014;
}
.vtm5e.dark-theme .tox .tox-editor-container {
  background: #fff;
}
.vtm5e.dark-theme .window-content {
  background: #313131;
  color: #e0e0e0;
}
.vtm5e.dark-theme .window-content .sheet-body .tab > .resource-label {
  color: #ff0119;
  border-bottom: 1px solid #780813;
}
.vtm5e.dark-theme .window-content nav.sheet-tabs {
  background: #121212;
  color: #ff0019;
}
.vtm5e.dark-theme .window-content nav.sheet-tabs .item.active {
  background: #3c3c3c;
  color: #f00;
}

/* Dice Tray */
.dice-tray {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding: 5px;
  margin: 3px;
  background: url("/systems/vtm5e/assets/images/background-green-marble.jpg"), #18510b;
  background-size: cover;
  border: 2px solid #18510b;
  border-radius: 5px 5px 0 0;
}
.dice-tray > * {
  margin: 2px;
}
.dice-tray .flexrow {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.dice-tray-button .roll-image {
  border: 0;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.dice-tray-button.roll-button {
  height: 100%;
  grid-area: roll;
}
.dice-tray-button.small-button {
  height: 20px;
  width: 20px;
}
.dice-tray-character {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.dice-tray-custom-rolls {
  display: grid;
  margin: 0.5em 0;
  grid-template-columns: 2fr 15px 2fr 1fr;
  grid-template-areas: "pool1 concat pool2 roll" "opts1 .      opts2 roll";
}
.dice-tray-filter-spacer {
  padding: 6px;
}
.dice-tray-pool-filters input, .dice-tray-pool-filters label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  border-radius: 3px;
  font-size: 11px;
  line-height: 10px;
}
.dice-tray-pool-filters input[type=radio], .dice-tray-pool-filters label[type=radio] {
  opacity: 0.011;
  z-index: 2;
}
.dice-tray-pool-filters input[type=radio]:checked + label, .dice-tray-pool-filters label[type=radio]:checked + label {
  color: var(--color-text-hyperlink);
  border-color: var(--color-text-hyperlink);
  -webkit-box-shadow: 0 0 6px inset var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);
}
.dice-tray-pool-filters label {
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}
.dice-tray-pool-filters.pool1-filters {
  grid-area: opts1;
}
.dice-tray-pool-filters.pool2-filters {
  grid-area: opts2;
}
.dice-tray-searchable-select {
  height: 31px;
  position: relative;
}
.dice-tray-searchable-select-cover {
  min-height: 31px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dice-tray-searchable-select-hover {
  width: 100%;
  height: 31px;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.dice-tray-searchable-select-hover:hover {
  border: 1px solid var(--color-text-hyperlink);
  -webkit-box-shadow: 0 0 6px inset var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);
}
.dice-tray-searchable-select-hover:hover li:not(:hover) {
  background: #faf4eb;
  color: black;
}
.dice-tray-searchable-select-fields {
  display: none;
  position: relative;
  z-index: 3;
  border: 1px solid var(--color-border-dark-tertiary);
  border-bottom: 0;
}
.dice-tray-searchable-select-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
}
.dice-tray-searchable-select-options {
  max-height: 500px;
  list-style: none;
  overflow-y: scroll;
  background: var(--color-text-light-0);
  color: var(--color-text-dark-1);
  padding-left: 0;
  margin: 0;
}
.dice-tray-searchable-select-options li {
  height: 29px;
  overflow: hidden;
  padding-left: 5px;
  font-size: 14px;
  line-height: 29px;
  text-overflow: ellipsis;
}
.dice-tray-searchable-select-options li:hover, .dice-tray-searchable-select-options li:focus {
  background: #1e90ff;
  cursor: pointer;
  color: var(--color-text-light-0);
  outline: none;
}
.dice-tray button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
  border: 1px solid black;
  color: #faf4eb;
  -webkit-box-shadow: 0 0 6px inset var(--color-border-dark-tertiary);
          box-shadow: 0 0 6px inset var(--color-border-dark-tertiary);
  font-weight: bold;
  font-size: 14px;
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.dice-tray button:hover {
  color: var(--color-text-hyperlink);
  border-color: var(--color-text-hyperlink);
  -webkit-box-shadow: 0 0 6px inset var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);
}
.dice-tray .dice-tray-label {
  display: block;
  height: 31px;
  line-height: 31px;
}
.dice-tray .dice-tray-input, .dice-tray .dice-tray-select {
  display: block;
  height: 31px;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.15);
  border: 1px solid black;
  -webkit-box-shadow: 0 0 6px inset #ababab;
          box-shadow: 0 0 6px inset #ababab;
  color: #ababab;
  -webkit-transition: all ease-in-out 0.25s, visibility 0s;
  transition: all ease-in-out 0.25s, visibility 0s;
  font-size: 14px;
}
.dice-tray .dice-tray-input:hover, .dice-tray .dice-tray-input:focus, .dice-tray .dice-tray-select:hover, .dice-tray .dice-tray-select:focus {
  border: 1px solid var(--color-text-hyperlink);
  -webkit-box-shadow: 0 0 6px inset var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);
}
.dice-tray .dice-tray-concatenate {
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
}/*# sourceMappingURL=vtm5e.css.map */