:root {
  --werewolf-primary: #4e2100ef;
}

/* Styles specific to the Werewolf sheets */
.vtm5e.werewolf-sheet .profile-img,
.vtm5e.werewolf-sheet .item-image img {
  background: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .sheetBanner {
  background: var(--werewolf-primary);
  color: #CCC;
}

.vtm5e.werewolf-sheet button.rollable,
.vtm5e.werewolf-sheet button.rollable-with-mod {
  background: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .actor-header .profile-img-zone button {
  background: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .actor-header .profile-img-zone h1 {
  color: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .resource-value .resource-value-step.active {
  background-color: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.vtm5e.werewolf-sheet .resource-value-static .resource-value-static-step.active {
  background-color: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .cell-resource-counter .cell-resource-counter-step[data-state="-"] {
  background-color: var(--werewolf-primary);
}

.vtm5e.werewolf-sheet .wolf-resource {
  display: flex;
}

.vtm5e.werewolf-sheet .wolf-resource .resource-value-step, .vtm5e.werewolf-sheet .wolf-resource .resource-value-empty {
  border-radius: 0;
}

.vtm5e.werewolf-sheet .wolf-resource {
  flex-grow: 1;
}

.vtm5e.werewolf-sheet .harano {
  margin-right: auto;
}

.vtm5e.werewolf-sheet .hauglosk {
  margin-left: auto;
}

.vtm5e.werewolf-sheet .garou-forms-label {
  font-size: 1.5em !important;
  margin: 0 0 0.5rem;
}

.vtm5e.werewolf-sheet .were-form-nickname {
  font-size: 0.9em;
  font-weight: bold;
}

.vtm5e.werewolf-sheet .wolf .resource-label {
  margin-bottom: 5px;
}

.vtm5e.werewolf-sheet .renown .resource {
  border: 0;
}