@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("./parts/buttons.css");
@import url("./parts/inputs.css");
@import url("./parts/groupings.css");
@import url("./parts/resource-counters.css");
@import url("./parts/tray.css");
@import url("./parts/dialog.css");
@import url("./parts/chat.css");
@import url("./parts/locked.css");
@import url("./parts/menus.css");
@import url("./parts/group-sheet.css");
@import url("./themes/dark-theme.css");
@import url("./splats/vampire-styling.css");
@import url("./splats/hunter-styling.css");
@import url("./splats/werewolf-styling.css");
@import url("./lang/pl.css");
@import url("./lang/de.css");
@import url("./lang/ru.css");

:root {
    --color-text-light-highlight: #f9f5ed;
    --color-text-light-heading: #f1ede6;
    --color-border-light-1: var(--color-border-dark-1);
    --color-border-light-2: var(--color-border-dark-2);
}

@font-face {
    font-family: cormorantLight;
    src: url("../assets/fonts/Cormorant-Light-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.wod5e.window-app {
    font-family: Signika, sans-serif;
    background: #faf5ed;
    color: #000;
    border-radius: 0;
}

.wod5e .window-content {
    background: #faf5ed;
    font-family: Vollkorn, sans-serif;
    font-weight: 500;
}

.wod5e.window-app .window-content {
    background: #faf5ed;
}

.wod5e.window-app .window-header {
    font-weight: 600;
}

.wod5e.window-app .window-header .window-title {
    font-weight: 700;
}

.wod5e.window-app .window-resizable-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    background: #f9f5ed;
    padding: 2px;
    cursor: pointer;
}

.wod5e.window-app .window-resizable-handle i.fas {
    transform: translateY(-2px) scale(0.8) rotate(45deg);
    width: 15px;
    height: 10px;
    position: absolute;
    padding: 2px;
    border-radius: 0;
}

.wod5e.fa-arrows-alt-h::before,
.fa-left-right::before {
    content: "\f337";
}

.wod5e p {
    margin: 0.5em;
    word-break: break-word;
}

.wod5e .no-border {
    border: 0 !important;
}

.wod5eselect {
    height: calc(var(--form-field-height) + 1px);
    background: rgb(0 0 0 / 5%);
    padding: 0 3px;
    text-overflow: ellipsis;
    font-family: Vollkorn, serif;
    font-weight: 600;
    font-size: inherit;
    border-radius: 0;
}

.wod5e option,
.wod5e optgroup {
    font-family: inherit;
    font-weight: inherit;
    background: inherit;
    border: inherit;
}

.wod5e .resource-label {
    font-weight: 500;
    position: relative;
}

.wod5e .description-content {
    background: white;
    border: 1px solid #e0dede;
    padding: 5px;
    height: 90%;
}

.wod5e .window-content .resource-label {
    text-transform: initial;
    font-size: 1.2em;
}

.wod5e .window-content .abilities .ability .resource-label {
    font-weight: 500;
    font-size: 1.2em;
}

.wod5e .window-content .standarddicepools .ability .resource-label {
    font-weight: 700;
    font-size: 18px;
}

.wod5e .window-content nav.sheet-tabs {
    background: #e6ded0;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    height: 41px;
    padding: 0;
    display: flex;
}

.wod5e .tabs .item {
    line-height: inherit;
    text-transform: uppercase;
    font-family: cormorantLight, serif;
    font-weight: 700;
    padding: 8px 12px;
}

.wod5e .items-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
}

.wod5e .window-content nav.sheet-tabs .item {
    align-self: center;
    flex-grow: 1;
    cursor: pointer;
}

.wod5e .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

.wod5e .window-content nav.sheet-tabs .item.active {
    background: #faf5ed;
    text-decoration: none;
}

.wod5e .resource .resource-control:hover,
.wod5e .resource .resource-control:focus {
    color: #000;
    cursor: pointer;
}

.wod5e .actor-header .resource {
    border-radius: 2px;
    flex-grow: 1;
}

.wod5e .spc-sheet .actor-header .resource {
    margin: 0 0.2em;
}

.wod5e .spc-sheet .flex-group-left {
    margin-top: 0.5em;
}

.wod5e .actor-header .resource.exp,
.wod5e .actor-header .resource.generaldifficulty {
    max-width: 100px;
}

.wod5e .actor-header select {
    max-width: 150px;
    float: right;
}

.wod5e .actor-header .level {
    flex-grow: 0;
    margin-left: 20px;
    align-self: center;
    font-size: 1.2em;
    text-align: center;
}

.wod5e .actor-header {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.wod5e .actor-header .header-fields-top {
    display: flex;
    flex-direction: row;
}

.wod5e .actor-header .header-fields-top .header-profile-img {
    max-width: 100px;
}

.wod5e .actor-header .header-fields-top .header-profile-img .profile-img-zone {
    display: flex;
    flex-direction: column;
}

.wod5e .actor-header .header-fields-top .header-rows-top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wod5e .actor-header .header-fields-top .header-row-1 {
    display: flex;
    flex-direction: row;
}

.wod5e .actor-header .header-fields-top .header-row-2 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}

.wod5e .actor-header .header-fields-top .header-row-2 .resource {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
}

.wod5e .actor-header .header-fields-bottom {
    display: flex;
}

.wod5e .item-header {
    flex: 0 0 215px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wod5e .item-header .profile-img {
    flex: 0 0 100px;
    min-height: 50px;
    max-height: 205px;
    height: auto;
    width: 100px;
    margin-right: 0;
}

.wod5e .item-header .header-fields {
    flex: 1;
}

.compendium.directory.flexcol {
    color: black;
}

.scenes-sidebar .scene h3 {
    color: var(--color-text-light-1);
}

.wod5e .window-content .abilities,
.wod5e.sheet.actor .window-content .skills {
    border: none;
}

.wod5e.sheet.actor .window-content .skills .skill .specialty {
    position: relative;
    top: -5px;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
}

.wod5e.sheet.actor .window-content .skills .skill .edit-skill {
    font-size: 14px;
    position: absolute;
    left: -20px;
    top: 2px;
}

.wod5e .window-content .sheet-body .tab > .resource-label {
    width: 100%;
    display: block;
    text-transform: uppercase;
}

.wod5e .limited .actor-header {
    flex: 0 0 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
}

.sheet-banner h1 {
    margin-bottom: 0;
}

.wod5e .actor-header .profile-img-zone h1 {
    font-family: cormorantlight, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.wod5e .limited-actor-header {
    flex-direction: row;
    display: flex;
    max-height: 106px;
}

.wod5e .limited-actor-header h2.limited-charname {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    flex: 0;
    font-family: Amarante, serif;
}

.wod5e .sheet-tabs {
    flex: 0;
}

.wod5e .sheet-body,
.wod5e .sheet-body .tab,
.wod5e .sheet-body .tab .editor {
    min-height: 160px;
}

.wod5e .single-sheet-body,
.wod5e .single-sheet-body .tab,
.wod5e .single-sheet-body .tab .editor {
    height: 100%;
    min-height: 30px;
}

.wod5e .sheet-body .tab .tox-tinymce {
    min-height: 160px;
    height: 100%;
}

.wod5e .sheet-body .tab .half-height {
    height: 50%;
}

.wod5e .tabs {
    height: 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.wod5e .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}

.items-list .item-header {
    font-size: 1.1em;
}

.wod5e .items-list .item-header {
    font-weight: 700;
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
}

.wod5e .items-list .item-header .header-level {
    text-align: center;
}

.message-content .item-image {
    max-width: fit-content;
    height: 36px;
}

.wod5e .items-list .item .item-image {
    flex: 0 0 24px;
    margin-right: 5px;
}

.wod5e .items-list .item img {
    display: block;
}

.wod5e .items-list .item-name {
    margin: 0;
    font-size: 1.2em;
    font-weight: initial;
}

.wod5e .items-list .item-name-header {
    margin: 0;
    font-weight: 700;
}

.wod5e .items-list .item-type {
    text-align: center;
}

.wod5e .items-list .item-controls {
    text-align: right;
}

p .collapsible-content{
    padding: 0 1em;
}

.wod5e .collapsible:hover,
.wod5e .collapsible:focus {
    color: #000;
    cursor: pointer;
}

.wod5e .collapsible-content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: Vollkorn, serif;
    line-height: 1.6em;
    word-spacing: 0.05em;
    font-size: 1.1em;
    color: hwb(0deg 7% 98% / 100%);
    border-radius: 0.5em;
    background: #eeece8;
}

.wod5e .discipline-description, .edge-description, .gift-description {
    width: 100%;
    resize: none;
    font-family: Vollkorn, serif;
    line-height: 1.6em;
    word-spacing: 0.05em;
    font-size: 1em;
    border: 0;
    border-radius: 0.5em;
    height: auto;
    font-weight: 500;
    padding: 0 1em;
    margin-bottom: -8px;
}

.roll-label {
    font-weight: 700;
    font-family: Vollkorn, serif;
    font-variant-caps: titling-caps;
    font-size: 1.4em;
    margin: 0.1em;
    text-align: center;
}

.roll-label .danger {
    color: #831515;
}

.roll-label .success {
    color: #18520b;
}

.roll-content {
    font-size: 120%;
    font-family: Vollkorn, serif;
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
    color: #121212;
}

p.roll-label.uppercase {
    letter-spacing: 0.03rem;
    line-height: 1.4rem;
}

.willpower-reroll .die {
    flex: 0;
}

.willpower-reroll .selected::after {
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    margin-left: -38px;
    margin-top: 0;
    content: "⟳";
}

#sidebar.app {
    border-radius: 0;
}

#sidebar-tabs > .item.active {
    border-radius: 0;
}

.sheet-banner {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    text-align: center;
    margin: -10px -10px 5px;
}

.wod5e.vampire-sheet .sheet-banner,
.wod5e.ghoul-sheet .sheet-banner,
.wod5e.coterie-sheet .sheet-banner {
    color: #CCC;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 1px;
    border: 1px solid #121212;
}

.roll-label:nth-of-type(1) {
    border-bottom: 4px double var(--color-shadow-highlight);
    line-height: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

.chat-message .message-header .message-sender {
    flex: 3;
    margin: 0;
    white-space: nowrap;
    font-family: Amarante, serif;
    font-size: 1.2em;
    font-weight: 700;
}

.chat-message {
    margin: 3px;
    padding: 5px 9px;
    font-size: var(--font-size-14);
    color: var(--color-text-dark-primary);
    background: #fbf5ed;
    border: 4px double var(--color-shadow-highlight);
    border-radius: 0;
}

#chat-controls .roll-type-select {
    background: #fbf5ed;
}

#chat-form textarea {
    background: #fbf5ed;
}

h3.item-name {
    border-bottom: 0;
    margin: 0;
    align-items: center;
    font-family: Amarante, serif;
    font-size: 1.4em;
}

h3.item-name.chat-portrait-text-size-name-generic {
    align-items: center;
    border-bottom: 0;
    font-family: Amarante, serif;
    font-size: 1.4em;
}

#controls ol.control-tools > li {
    border-radius: 0;
}

.tab.blood.active p {
    margin: 0;
    min-height: auto;
    font-size: 1.2em;
    font-weight: 700;
}

.dice-tray {
    background: url("systems/vtm5e/assets/images/background-black-marble.jpg"), #000;
    border: 2px solid #000;
}

.compendium .directory-list, .compendium .compendium-name, .sidebar-popout {
    color: #CCC;
}

.compendium .header-control {
    color: #CCC;
}

.actors-sidebar .group-item {
    border: none;
    border-left: 1px solid var(--color-border-dark-1);
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.actors-sidebar .group-item .context {
    background-color: transparent !important;
    border-color: var(--color-border-highlight);
}

li.group-item > .group-header {
    padding: 6px;
    line-height: 24px;
    background: rgba(255 255 255 20%);
    border-top: 1px solid var(--color-border-dark);
    border-bottom: 1px solid var(--color-border-dark);
}

li.group-item > .group-header h3 {
    margin: 0;
    color: var(--color-text-light-highlight);
    font-size: var(--font-size-16);
    line-height: 24px;
}

li.group-item > .group-header h3 > i {
    margin-right: 10px;
}

li.group-item > .group-header .create-button {
    position: relative;
    flex: 0 0 20px;
    margin-left: 3px;
    text-align: center;
}

li.group-item > .group-header .create-button.create-folder {
    font-size: 120%;
}

li.group-item > .group-header .create-button .fa-plus {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 0.5rem;
    background: black;
    color: var(--color-text-light-highlight);
    padding: 1px;
    border-radius: 4px;
}

li.group-item > .group-header .create-button:hover .fa-plus {
    color: var(--color-text-hyperlink);
}

li.group-item.collapsed .subdirectory {
    display: none;
}

li.group-item.collapsed > .group-header {
    background: rgba(0 0 0 50%);
}

li.group-item.droptarget > header h3 {
    text-shadow: 1px 1px 3px var(--color-shadow-dark);
    font-size: 1.2em;
}

li.group-item.collapsed > .group-header h3 {
    text-shadow: none;
}

li.group-item.collapsed > .group-header h3 > i::before {
    content: "\f07b";
}

li.group-item.collapsed > .group-header .create-folder {
    display: none;
}

li.group-item.droptarget > header h3 i {
    text-shadow: 0 0 4px var(--color-shadow-primary);
    transform: scale(1.2);
}
