@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

/* Fonts */
@font-face {
  font-family: "cormorantLight";
  src: url("../assets/fonts/Cormorant-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Colours
$accent: #790813;

// Mixins
@mixin fadeOut {
  background: linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}
