@use "styles.scss" as *;

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/* Rollable */
.rollable:hover,
.rollable:focus,
.rollable-with-mod:hover,
.rollable-with-mod:focus,
.vrollable:hover,
.vrollable:focus,
.power-rollable:hover,
.power-rollable:focus {
  color: #000;
  text-shadow: 0 0 10px $accent;
  cursor: pointer;
}

.custom-rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px $accent;
    cursor: pointer;
  }
}

.grid {
  @include grid(2);
  display: grid;
  gap: 10px;
  margin: 10px 0;
  padding: 0;

  &-2col {
    @extend .grid;
  }
  &-3col {
    @include grid(3);
  }
  &-4col {
    @include grid(4);
  }
  &-5col {
    @include grid(5);
  }
  &-6col {
    @include grid(6);
  }
  &-7col {
    @include grid(7);
  }
  &-8col {
    @include grid(8);
  }
  &-9col {
    @include grid(9);
  }
  &-10col {
    @include grid(10);
  }
  &-11col {
    @include grid(11);
  }
  &-12col {
    @include grid(12);
  }
}

.flex {
  &-center {
    @include flexAlign(stretch, center, center);
  }

  &-left {
    @include flexAlign(left, left, left);
  }
  &-between {
    align-items: center;
    justify-content: space-between;
    margin: 2px auto 2px auto;
  }
  &-group {
    &-center {
      @include flexAlign(center, center, center);
      padding: 2px;
      border: 1px solid $accent;
      border-radius: 5px;

      input[type="number"] {
        margin: auto 2px auto 2px;
      }

      input[type="text"] {
        display: inline;
        border: 1px solid transparent;
      }

      &:not(.flexrow) {
        .resource-counter,
        .resource-value {
          margin-top: 5px;
        }
      }
    }
    &-left {
      @include flexAlign(center, flex-start, left);
      padding: 2px;
      border: 1px solid $accent;
      border-radius: 5px;
    }
    &-right {
      @include flexAlign(center, flex-end, right);
      padding: 2px;
      border: 1px solid $accent;
      border-radius: 5px;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

/* ChatMessage CSS */
#chat-form {
  textarea {
    background: $bg;
  }
}
.chat-message {
  background: $bg;
}

.roll {
  &-content {
    font-size: 120%;

    &.result-bestial {
      &.result-possible {
        font-family: "Cormorant Light", sans-serif;
        font-weight: bold;
      }
    }
  }

  &-img {
    max-width: 30px;
    margin: 1px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;

    &.hunger-dice {
      background: rgba(255, 230, 230, 0.5);
      border-color: $accent;
    }
  }

  &-label {
    font-weight: bold;
    font-size: 130%;
    font-family: "Cormorant Light", sans-serif;

    .danger {
      color: $danger;
    }

    .success {
      color: $success;
    }
  }
}

/* .vtm5e System Class */
.vtm5e {
  button {
    &.rollable,
    &.rollable-with-mod {
      color: var(--color-text-light-0);
      background: $accent;
      border: none;
      font-family: "Cormorant Light", sans-serif;
      font-weight: bold;
      margin: auto 2px auto 2px;
    }
  }

  input {
    font-family: initial;
    background: var(--color-text-light-0);
    border: 1px solid var(--color-border-light-primary);
  }

  .items-list {
    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid $borderLight;

      img {
        display: block;
      }

      &-controls {
        flex: 0 0 86px;
        text-align: right;
      }

      &-header {
        font-weight: bold;
        min-height: 30px;
        line-height: 24px;
        padding: 3px 0;
        border-bottom: 1px solid $accent;
        color: $accent;
      }

      &-image {
        flex: 0 0 24px;
        margin-right: 5px;
      }

      &-name {
        color: inherit;
        margin: 0;
        font-weight: 600;
        &-header {
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }

  .collapsible {
    &:hover,
    &:focus {
      color: #000;
      text-shadow: 0 0 10px $accent;
      cursor: pointer;
    }

    &-content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }

  .description {
    &-content {
      display: inline;
      background: var(--color-text-light-0);
      border: 1px solid transparent;
      padding: 5px;
      height: 95%;
    }
  }

  .item {
    &-name {
      h3 {
        line-height: 18px;
        font-weight: bold;
        flex: 4 0 0;
        text-align: center;
      }
    }
    &-list {
      list-style: none;
      margin: 7px 0;
      padding: 0;
      overflow-y: auto;
    }
  }

  /* Resource Boxes */
  .resource {
    &-counter {
      .resource-counter-step {
        height: 14px;
        width: 14px;
        border: 1px solid $borderDark;
        display: inline-block;
        cursor: pointer;
        &[data-state="-"] {
          background-color: $accent;
        }
        &[data-state="/"] {
          background: linear-gradient(
            135deg,
            transparent 0%,
            transparent 43%,
            black 45%,
            black 55%,
            transparent 57%,
            transparent 100%
          );
        }
        &[data-state="x"] {
          @include fadeOut;
        }
      }
    }
    &-label {
      font-weight: bold;
    }

    &-value {
      &-static {
        .resource-value-static-step {
          @extend .resource-value-step;
          &.active {
            background-color: $accent;
          }
        }
      }

      .resource-value-step {
        height: 14px;
        width: 14px;
        border: 1px solid $borderDark;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          background-color: $accent;
        }
      }

      .resource-value-empty {
        @include fadeOut;
        height: 14px;
        width: 14px;
        border: 1px solid $borderDark;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .profile-img {
    background: $accent;
    border-radius: 2px 2px 0px px;
  }

  .item-image img {
    background: $accent;
    border-radius: 2px;
  }

  .coterie-sheet,
  .mortal-sheet,
  .ghoul-sheet {
    .sheet-header {
      flex: 0 0 155px;
    }
  }

  .ghoul-sheet {
    .window-content {
      .header-fields {
        .resource {
          border: none;
        }
      }
    }
  }

  .locked {
    .resource {
      &-value-empty:hot(.hungervalue),
      &-value-step:hot(.hungervalue) {
        opacity: 0;
        cursor: default;
      }
      &-minus,
      &-plus {
        opacity: 0;
        cursor: default !important;
      }
    }
  }

  .limited {
    .sheet {
      &-header {
        flex: 0 0 215px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;
      }
    }
  }

  .sheet {
    &-header {
      flex: 0 0 215px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 10px;

      h1 {
        &.charname {
          padding: 0;
          margin: 5px 0;
          border-bottom: 0;
          input {
            width: 100%;
            height: 100%;
            margin: 0px;
          }
        }
      }

      h2 {
        &.limited-charname {
          font-weight: bold;
          font-size: 50px;
          text-align: center;
          flex: 0;
          width: 100%;
        }
      }

      .header-fields {
        flex: 1;
      }

      .profile-img {
        flex: 0 0 100px;
        min-height: 50px;
        max-height: 205px;
        height: auto;
        width: 100px;
        border-color: $accent;
        border-radius: 2px 2px 0px 0px;

        img {
          flex: 0 0 64px;
          height: 64px;
          margin-right: 6px;
        }

        &-zone {
          display: flex;

          align-items: stretch;
          justify-content: center;
          flex-direction: column;
          flex-wrap: nowrap;
          
          max-width: 100px;
          margin-right: 10px;

          button {
            align-self: center;

            background: $accent;
            color: white;
            font-family: "Cormorant Light", sans-serif;
            font-weight: bold;
            border: 1px solid $accent;
            border-radius: 0px 0px 2px 2px;

          }

          h1 {
            align-self: center;
            color: $accent;
            font-family: "Cormorant Light", sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
    &-body {
      height: 100%;
      min-height: 160px;
      .tab {
        height: 100%;
        min-height: 160px;
        .half-height {
          height: 50%;
        }
        .editor {
          height: 100%;
          min-height: 160px;
        }
        .tox-tinymce {
          min-height: 160px;
          height: 100%;
        }
      }
    }
    &-tabs {
      flex: 0;
    }
    &.actor {
      .window-content {
        .skills {
          border: none;
        }
      }
    }
  }

  .tab {
    &.disciplines {
      .resource-value {
        margin-top: 2px;
      }
    }
  }

  .tabs {
    height: 40px;
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
    .item {
      line-height: 40px;
      font-weight: bold;
      &.active {
        text-decoration: underline;
        text-shadow: 0px 0px 5px hsla(353, 40%, 27%, 0.5);
      }
    }
  }

  .tox {
    .tox {
      &-editor-container {
        background: $bg;
      }
      &-edit-area {
        padding: 0 8px;
      }
    }
  }

  .window-content {
    background: $bg;
    font-family: "Cormorant Light", sans-serif;
    font-weight: 600;
    nav.sheet-tabs {
      background: $bg;
      color: $accent;
      font-size: 16px;
      margin-bottom: 20px;
      height: 41px;
      a.item.active {
        background: $bg;
        text-decoration: none;
        text-shadow: 0px 0px 5px rgba(96, 41, 48, 0.5);
      }
    }

    .sheet {
      &-header {
        flex: 0 0 215px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;
      }
      &-body {
        .tab > .resource-label {
          color: $accent;
          border-bottom: 1px solid $accent;
          width: 100%;
          display: block;
          text-transform: uppercase;
        }
      }
    }
    .header-fields {
      .resource {
        border: 1px solid $borderLight;
        border-radius: 5px;
      }
    }

    .resource {
      &-label {
        text-transform: initial;
        font-size: 16px;
      }
    }
    .abilities {
      border: none;
      .ability {
        .resource {
          &-control {
            &:hover,
            &:focus {
              color: #000;
              text-shadow: 0 0 10px $accent;
              cursor: pointer;
            }
          }
          &-label {
            font-weight: bold;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.uppercase {
  font-family: "Cormorant Light", sans-serif;
  text-transform: uppercase;
}

.willpowerReroll {
  .die {
    flex: 0;
  }

  .selected::after {
    position: absolute;
    content: "X";
    font-size: 30px;
    color: $accent;
    margin-left: -25px;
    margin-top: -2px;
  }
}

#sidebar.app {
  background: rgba(20, 0, 0, 0.9);
}

#data.exp.value,
#data.exp.max {
  margin: 2px;
}
