@use "styles.scss" as *;

/* Dice Tray */
.dice-tray {
  flex: 0;
  padding: 5px;
  margin: 3px;

  background: url("/systems/vtm5e/assets/images/background-green-marble.jpg"),
    $success;
  background-size: cover;
  border: 2px solid $success;
  border-radius: 5px 5px 0 0;

  .flexrow {
    flex-wrap: nowrap;
  }

  &__button {
    .rollImage {
      border: 0;
      //filter: invert();
    }

    &.rollButton {
      height: 100%;
      grid-area: roll;
    }

    &.smallButton {
      height: 20px;
      width: 20px;
    }
  }

  &__character {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &__custom-rolls {
    display: grid;
    margin: 0.5em 0;
    grid-template-columns: 2fr 15px 2fr 1fr;
    grid-template-areas:
      "pool1 concat pool2 roll"
      "opts1 .      opts2 roll";
  }

  &__filter-spacer {
    padding: 6px;
  }

  &__pool-filters {
    input {
      display: block;
      position: absolute;
      font-size: 11px;
      line-height: 10px;
      padding: 1px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 3px;
      &input[type="radio"] {
        opacity: 0.011;
        z-index: 2;
      }
      &input[type="radio"]:checked + label {
        color: var(--color-text-hyperlink);
        border-color: var(--color-text-hyperlink);
        -webkit-box-shadow: 0 0 6px inset var(--color-text-hyperlink);
        box-shadow: 0 0 6px inset var(--color-text-hyperlink);
      }
    }
    label {
      @extend input;
      padding: 5px;
      cursor: pointer;
      z-index: 1;
    }

    &.pool1Filters {
      grid-area: opts1;
    }
    &.pool2Filters {
      grid-area: opts2;
    }
  }

  &__searchable {
    &-select {
      height: 31px;
      position: relative;
      &-cover {
        min-height: 31px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      &-hover {
        width: 100%;
        height: 31px;
        transition: all ease-in-out 0.25s;
        &:hover {
          border: 1px solid var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);

          li {
            &:not(:hover) {
              background: $bg;
              color: $borderDark;
            }
          }
        }
      }
      &-fields {
        border: 1px solid var(--color-border-dark-tertiary);
        border-bottom: 0;
        z-index: 3;
        position: relative;
        display: none;
      }
      &-input {
        box-sizing: border-box;
        padding-left: 6px;
        width: 100%;
      }
      &-options {
        max-height: 500px;
        list-style: none;
        padding-left: 0;
        margin: 0;
        background: var(--color-text-light-0);
        color: var(--color-text-dark-1);
        overflow-y: scroll;

        li {
          padding-left: 5px;
          height: 29px;
          font-size: 14px;
          line-height: 29px;
          text-overflow: ellipsis;
          overflow: hidden;
          &:hover,
          &:focus {
            background: #1e90ff;
            cursor: pointer;
            color: var(--color-text-light-0);
            outline: none;
          }
        }
      }
    }
  }

  button {
    background: transparent;
    border: 1px solid $borderDark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $bg;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 6px inset var(--color-border-dark-tertiary);
    transition: all ease-in-out 0.25s;
    position: relative;
    &:hover {
      color: var(--color-text-hyperlink);
      border-color: var(--color-text-hyperlink);
      box-shadow: 0 0 6px inset var(--color-text-hyperlink);
    }
  }

  .dice-tray {
    &__label {
      display: block;
      height: 31px;
      line-height: 31px;
    }
    &__input,
    &__select {
      display: block;
      color: $borderLight;
      font-size: 14px;
      height: 31px;
      width: 100%;
      background-color: hsla(0, 0%, 98%, 0.15);
      border: 1px solid $borderDark;
      box-shadow: 0 0 6px inset $borderLight;
      transition: all ease-in-out 0.25s, visibility 0s;
      &:hover,
      &:focus {
        border: 1px solid var(--color-text-hyperlink);
        box-shadow: 0 0 6px inset var(--color-text-hyperlink);
      }
    }
    &__concatenate {
      display: block;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }
  }
}

.dice-tray > * {
  margin: 2px;
}

#selectedCharacter {
  width: 200px;
}