<div class="resource flex-group-center rage-button">
    <label for="placeholder" class="resource-label">{{localize "WOD5E.WTA.RageDice"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="rollable" type="button" name="rage" data-disable-basic-dice="true" data-use-absolute-value="true"
            data-absolute-value="1" data-decrease-rage="true" data-label="{{localize 'WOD5E.WTA.RageDice'}}">{{localize "WOD5E.RollList.Label"}}</button>
    </div>
</div>
