/* New Styles */
.dark-theme .wod5e.window-app {
    background: #faf5ed;
    color: #121212;
}

.dark-theme .wod5e.window-app .window-content {
  background: #121212;
  color: #f7f7f7;
}

.dark-theme .wod5e.actor.sheet .editor-content {
  color: inherit;
}

.dark-theme .wod5e.item.sheet .editor-content {
  color: #e0e0e0;
}

.dark-theme .wod5e .window-content nav.sheet-tabs {
  background: #121212;
  color: #790813;
  font-family: Vollkorn, serif;
  font-size: 1.2em;
  border-top: 1px solid #790813;
  border-bottom: 1px solid #790813;
  margin-bottom: 10px;
}

.dark-theme .wod5e.hunter-sheet .window-content nav.sheet-tabs {
  color: #cd7a3def;
  border-top: 1px solid #cd7a3def;
  border-bottom: 1px solid #cd7a3def;
}

.dark-theme .wod5e .window-content nav.sheet-tabs .item.active {
  background: #3c3c3c;
  color: #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
}

.dark-theme .wod5e .window-content .sheet-body .tab > .resource-label {
  color: #f7f7f7;
  border-bottom: 1px solid #f00;
  padding-bottom: 0.1em;
  font-family: Vollkorn, serif;
  font-weight: 700;
}

.dark-theme .wod5e .actor-header .profile-img-zone h1 {
  color: #cc0014;
}

.dark-theme .wod5e .items-list .item-header {
  color: #fff6f7;
}

.dark-theme .wod5e .tox .tox-editor-container {
  background: #fff;
}

.dark-theme .wod5e .discipline-description,
.dark-theme .edge-description,
.dark-theme .gift-description {
  color: hwb(0deg 7% 98% / 100%);
  background: #eeece8;
}

.dark-theme .wod5e .rollable:hover,
.dark-theme .wod5e .rollable:focus,
.dark-theme .wod5e .power-rollable:hover,
.dark-theme .wod5e .power-rollable:focus {
    color: #f7f7f7;
}

/* Resource boxes CSS */

.dark-theme .wod5e .resource-value .resource-value-empty {
  border: 1px solid #f7f7f7;
  background: linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      #f7f7f7 45%,
      #f7f7f7 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #f7f7f7 45%,
      #f7f7f7 55%,
      transparent 57%,
      transparent 100%
    );
}

.dark-theme .wod5e .resource-value-step,
.dark-theme .wod5e .resource-value-static-step {
  border: 1px solid #cdcdcd !important;
}

.dark-theme .wod5e .resource-value-step.active,
.dark-theme .wod5e .resource-value-static-step.active {
  background-color: #790813;
}

.dark-theme .wod5e .resource-counter .resource-counter-step {
  border: 1px solid white;
  background-color: #f9f9f9;
}

.dark-theme .wod5e select {
  background: #f7f7f7;
}

.dark-theme .wod5e .resource-counter .resource-counter-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    );
  background-color: #f9f9f9;
}

.dark-theme .wod5e .resource-counter .resource-counter-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    );
  background-color: #f9f9f9;
}

.dark-theme .wod5e .cell-resource-counter .cell-resource-counter-step {
  border: 1px solid white;
}

.dark-theme .wod5e .cell-resource-counter .cell-resource-counter-step[data-state="-"] {
  background-color: #790813;
}

.dark-theme .wod5e .cell-resource-counter .cell-resource-counter-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    );
}

.dark-theme .wod5e .cell-resource-counter .cell-resource-counter-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      red 45%,
      red 55%,
      transparent 57%,
      transparent 100%
    );
}

.dark-theme .wod5e .tabs .item {
  color: #8f8f8f;
}

.dark-theme .wod5e input {
  color: #FFF;
}

.dark-theme .wod5e input::placeholder {
  color: #CCC;
}

.dark-theme .wod5e input[name="system.blood.resonance"] {
  color: #bb1020;
}

.dark-theme .wod5e .actor-header h1.charname input {
  color: #faf5ed;
}

.dark-theme .wod5e.item.sheet .bonuses input {
  color: #000;
}

.wod5e.item.sheet .window-content input[type="number"] {
    color: #000;
}

.dark-theme .wod5e .description-content {
  background: none;
  border: 0;
  padding: 5px;
  height: 95%;
}

.dark-theme .wod5e .tab.blood.active p {
  color: #FFF;
}

.dark-theme .wod5e.werewolf-sheet .window-content .sheet-body .tab > .resource-label,
.dark-theme .wod5e.werewolf-sheet .items-list .item-header {
  color: #cd7a3def;
  border-color: #cd7a3def;
}

.dark-theme .wod5e.hunter-sheet .despair-box .despair-toggle {
  border-color: white;
}

.dark-theme .dialog-content .situational-modifiers {
  background: #121212;
}

.dark-theme .actor.sheet textarea, .dark-theme .item.sheet textarea {
  color: #FFF;
}

.dark-theme .wod5e .actor-header .header-fields-top .header-row-2 .resource {
  background-color: #3e3e3e;
}

.dark-theme .wod5e .resource-value .resource-value-step.active,
.dark-theme .wod5e.vampire-sheet .resource-value .resource-value-step.active,
.dark-theme .wod5e .resource-value-static .resource-value-static-step.active,
.dark-theme .wod5e .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #f30018;
}

.dark-theme .wod5e-config-form .notes {
  color: #FFF;
}
