<div class="dice-tray-searchable-select">
    <select id="pool2" class="dice-tray-select" name="pool2">
        {{#each (sortAbilities selectedCharacter.actor.system.skills) as |skill|}}
            {{#if (eq @root.pool2 @key)}}
                <option value="{{@key}}" selected>{{localize skill.name}}</option>
            {{else}}
                <option value="{{@key}}">{{localize skill.name}}</option>  
            {{/if}}
        {{/each}}
    </select>
    <div id="pool2Cover" class="dice-tray-searchable-select-cover">
        <div class="dice-tray-searchable-select-hover"></div>
        <div id="pool2Fields" class="dice-tray-searchable-select-fields">
            <ul class="dice-tray-searchable-select-options">
                {{#each (sortAbilities selectedCharacter.actor.system.skills) as |skill|}}
                    <li tabindex="-1" value="{{@key}}" title="{{localize skill.name}}">{{localize skill.name}}</li>  
                {{/each}}
            </ul>
            <input id="pool2Input" class="dice-tray-input dice-tray-searchable-select-input" />
        </div>
    </div>
</div>