<div class="tab" data-group="primary" data-tab="description">
    {{#if isCharacter}}   
    <div class="resource flexrow grid grid-3col">
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Concept"}}</label>
            <input type="text" name="data.headers.concept" value="{{data.data.headers.concept}}" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Chronicle"}}</label>
            <input type="text" name="data.headers.chronicle" value="{{data.data.headers.chronicle}}" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Ambition"}}</label>
            <input type="text" name="data.headers.ambition" value="{{data.data.headers.ambition}}" />
        </div>
    </div>
    <div class="resource flexrow grid grid-3col">
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Desire"}}</label>
            <input type="text" name="data.headers.desire" value="{{data.data.headers.desire}}" />
        </div>
        {{#if data.data.clan.value}}
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Sire"}}</label>
            <input type="text" name="data.headers.sire" value="{{data.data.headers.sire}}" />
        </div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "VTM5E.Generation"}}</label>
            <input type="text" name="data.headers.generation" value="{{data.data.headers.generation}}" />
        </div>
        {{/if}}
    </div> 
    <div class="resource flexrow grid grid-3col" style="min-height: 264px;">
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label ">{{localize "VTM5E.ChronicleTenets"}}</label>
            </div>
            <div class="description-content">
                {{editor content=data.data.headers.tenets target="data.headers.tenets" button=true owner=owner editable=editable}}
            </div>
        </div>
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "VTM5E.TouchstonesAndConvictions"}}</label>
            </div>
            <div class="description-content">
                {{editor content=data.data.headers.touchstones target="data.headers.touchstones" button=true owner=owner editable=editable}}
            </div>
        </div>
        {{#if data.data.clan.value}}
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "VTM5E.ClanBane"}}</label>
            </div>
            <div class="description-content">
                {{editor content=data.data.headers.bane target="data.headers.bane" button=true owner=owner editable=editable}}
            </div>
        </div>
        {{/if}}
    </div>
    {{/if}}
    {{#if isCharacter}}
    <div class="resource flexrow grid grid-2col" style="min-height: 264px;"> 
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "VTM5E.Biography"}}</label>
            </div>
            <div class="description-content">
                {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>
        </div>
        <div class="flex-group-left">
            <div class="flex-center">
                <label class="resource-label">{{localize "VTM5E.Appearance"}}</label>
            </div>
            <div class="description-content">
                {{editor content=data.data.appearance target="data.appearance" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>  
    {{else}}
    <label class="resource-label flex-center">{{localize "VTM5E.History"}}</label>
    <div class="description-content">
        {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>
    {{/if}}
</div>