<div class="resource flex-group-center generaldifficulty">
    <label for="system.generaldifficulty" class="resource-label">{{localize "VTM5E.GeneralDifficulty"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.generaldifficulty.strongest.value" value="{{actor.system.generaldifficulty.strongest.value}}" data-dtype="Number" />
        /
        <input type="number" name="system.generaldifficulty.normal.value" value="{{actor.system.generaldifficulty.normal.value}}" data-dtype="Number" />
    </div>
</div>