<div class="tab flex-center" data-group="primary">
    <label class="resource-label">{{localize "WOD5E.Tabs.Notes"}}</label>
    <div class="resource" style="min-height: 264px;"> 
        <div class="flex-group-left">
            <div class="description-content">
                {{editor enrichedNotes target="system.notes" button=true editable=editable}}
            </div>
        </div>
    </div>
</div>