<div class="tab flex-center" data-group="primary" data-tab="stats">
  <label class="resource-label">{{localize "VTM5E.StandardPools"}}</label>
  <div class="abilities grid grid-3col flex-group-center">
    {{#each data.data.standardPools as |pool key|}}
    <div class="standardPool flexrow flex-center">
      <label for="data.data.standardPools.{{key}}.value" class="resource-label vrollable"
             data-roll="{{pool.value}}" data-label="{{localize pool.name}}">{{localize ability.name}}
      </label>
      <div class="resource-value" data-value="{{pool.value}}" data-name="data.standardPools.{{key}}.value">
        <span class="resource-value-empty"></span>
        {{#numLoop 5}}
        <span class="resource-value-step" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
    </div>
    {{/each}}
  </div>

<!--  <label class="resource-label">{{localize "VTM5E.Skills"}}</label>-->
<!--  <div class="skills grid grid-3col flex-group-center">-->
<!--    {{#each data.data.skills as |skill key|}}-->
<!--    <div class="skill flexrow flex-center">-->
<!--      <label for="data.data.skills.{{key}}.value" class="resource-label vrollable" data-roll="{{skill.value}}"-->
<!--             data-label="{{localize skill.name}}">{{localize skill.name}}</label>-->
<!--      <div class="resource-value" data-value="{{skill.value}}" data-name="data.skills.{{key}}.value">-->
<!--        <span class="resource-value-empty"></span>-->
<!--        {{#numLoop 5}}-->
<!--        <span class="resource-value-step" data-index="{{this}}"></span>-->
<!--        {{/numLoop}}-->
<!--      </div>-->
<!--    </div>-->
<!--    {{/each}}-->
<!--  </div>-->
</div>