<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="profile-img-zone">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100"
            alt="Profile Image" />
        <button class="lock-btn">
            {{#if locked}}
            <i class="fa fa-lock"></i>
            {{ else }}
            <i class="fa fa-lock-open"></i>
            {{/if}}
        </button>
        </div>
        <div class="header-fields">
            <div class="grid grid-3col flexrow">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'VTM5E.Name'}}" /></h1>
                <h1 class="charname"><input name="data.clan.value" type="text" value="{{data.clan.value}}"
                        placeholder="{{localize 'VTM5E.Clan'}}" /></h1>
                <h1 class="charname"><input name="data.headers.predator" type="text" value="{{data.headers.predator}}"
                        placeholder="{{localize 'VTM5E.Predator'}}" /></h1>
            </div>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns. --}}
            <div class="resources grid grid-3col">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}
                <div class="resource flex-group-center">
                    <div class="flexrow">
                        <i class="fas fa-minus resource-control resource-minus" data-resource="health" data-action="minus"></i>
                        <label for="data.health" class="resource-label">{{localize "VTM5E.Health"}}</label>
                        <i class="fas fa-plus resource-control resource-plus" data-resource="health" data-action="plus"></i>
                    </div>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="/:superficial,x:aggravated" data-max="{{data.health.max}}" data-superficial="{{data.health.superficial}}" data-aggravated="{{data.health.aggravated}}" data-name="data.health">
                            {{#numLoop data.health.max}}
                            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <div class="flexrow">
                        <i class="fas fa-minus resource-control resource-minus" data-resource="willpower" data-action="minus"></i>
                        <label for="data.willpower" class="resource-label rollable" data-roll="3" data-label="{{localize 'VTM5E.RollingWillpower'}}">{{localize "VTM5E.Willpower"}}</label>
                        <i class="fas fa-plus resource-control resource-plus" data-resource="willpower" data-action="plus"></i>
                    </div> 
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="/:superficial,x:aggravated" data-max="{{data.willpower.max}}" data-superficial="{{data.willpower.superficial}}" data-aggravated="{{data.willpower.aggravated}}" data-name="data.willpower">
                            {{#numLoop data.willpower.max}}
                            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
                <div class="resource flex-group-center humanity">
                    <label for="data.humanity.value" class="resource-label rollable" data-roll="{{remorse data.humanity.value data.humanity.stains}}"
                    data-label="{{localize 'VTM5E.RollingRemorse'}}">{{localize "VTM5E.Humanity"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-counter" data-states="-:value,/:stains" data-value="{{data.humanity.value}}" data-stains="{{data.humanity.stains}}"  data-name="data.humanity">
                            {{#numLoop 10}}
                            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
            </div>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns. --}}
            <div class="resources grid grid-4col">
                <div class="resource flex-group-center exp">
                    <label for="data.exp" class="resource-label">{{localize "VTM5E.Exp"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="data.exp.value" value="{{data.exp.value}}" data-dtype="Number" />
                        /
                        <input type="number" name="data.exp.max" value="{{data.exp.max}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="data.hunger.value" class="resource-label">{{localize "VTM5E.Hunger"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <div class="resource-value" data-value="{{data.hunger.value}}" data-name="data.hunger.value">
                            <span class="resource-value-empty"></span>
                            {{#numLoop 5}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="placeholder" class="resource-label">{{localize "VTM5E.Rouse"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <button class="rollable" type="text" name="rouse" data-roll="1" data-use-hunger="1"
                            data-label="{{localize 'VTM5E.RousingBlood'}}...">{{localize "VTM5E.Roll"}}</button>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="placeholder" class="resource-label">{{localize "VTM5E.Frenzy"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <button class="rollable" type="text" name="frenzy" data-roll="{{frenzy data.willpower.max data.willpower.superficial data.willpower.aggravated data.humanity.value}}"
                            data-label="{{localize 'VTM5E.ResistingFrenzy'}}...">{{localize "VTM5E.Roll"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize "VTM5E.Stats"}}</a>
        <a class="item" data-tab="disciplines">{{localize "VTM5E.Disciplines"}}</a>
        <a class="item" data-tab="features">{{localize "VTM5E.Features"}}</a>
        <a class="item" data-tab="blood">{{localize "VTM5E.Blood"}}</a>
        <a class="item" data-tab="description">{{localize "VTM5E.Description"}}</a>
        <a class="item" data-tab="other">{{localize "VTM5E.Other"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Stats Tab --}}
        <div class="tab flex-center" data-group="primary" data-tab="stats">
            <label class="resource-label">{{localize "VTM5E.Attributes"}}</label>
            <div class="abilities grid grid-3col flex-group-center">
                {{#each data.abilities as |ability key|}}
                <div class="ability flexrow flex-center">
                    <label for="data.abilities.{{key}}.value" class="resource-label vrollable"
                        data-roll="{{ability.value}}" data-label="{{localize ability.name}}">{{localize
                        ability.name}}</label>
                    <div class="resource-value" data-value="{{ability.value}}" data-name="data.abilities.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                {{/each}}
            </div>

            <label class="resource-label">{{localize "VTM5E.Skills"}}</label>
            <div class="skills grid grid-3col flex-group-center">
                {{#each data.skills as |skill key|}}
                <div class="skill flexrow flex-center">
                    <label for="data.skills.{{key}}.value" class="resource-label vrollable" data-roll="{{skill.value}}"
                        data-label="{{localize skill.name}}">{{localize skill.name}}</label>
                    <div class="resource-value" data-value="{{skill.value}}" data-name="data.skills.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                {{/each}}
            </div>

            <label class="resource-label">{{localize "VTM5E.Specialties"}}</label>
            <ol class="items-list flex-left">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "VTM5E.Specialty"}}</div>
                    <div class="item-name">{{localize "VTM5E.Skill"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'VTM5E.AddItem'}}"
                            data-type="specialty"><i class="fas fa-plus"></i> {{localize "VTM5E.AddItem"}}
                        </a>
                    </div>
                </li>
                {{#each actor.specialties as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image custom-rollable" data-dice1="" data-dice2="{{item.data.skill}}" data-name="{{item.name}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" alt="{{item.name}}" />
                    </div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <h4 class="item-name">{{item.data.skill}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'VTM5E.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'VTM5E.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>

            <label class="resource-label">{{localize "VTM5E.CustomRolls"}}</label>
            <ol class="items-list flex-left">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "VTM5E.Name"}}</div>
                    <div class="item-name">{{localize "VTM5E.Attribute"}}</div>
                    <div class="item-name">{{localize "VTM5E.Skill"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'VTM5E.AddItem'}}"
                            data-type="customRoll"><i class="fas fa-plus"></i> {{localize "VTM5E.AddItem"}}
                        </a>
                    </div>
                </li>
                {{#each actor.customRolls as |roll id|}}
                <li class="item flexrow" data-item-id="{{roll._id}}">
                    <div class="item-image custom-rollable" data-dice1="{{roll.data.dice1}}" data-dice2="{{roll.data.dice2}}" data-name="{{roll.name}}">
                        <img src="{{roll.img}}" title="{{roll.name}}" width="24" height="24" alt="{{roll.name}}" />
                    </div>
                    <h4 class="item-name">{{roll.name}}</h4>
                    <select class="customRoll-dice1" id="dice1-data">
                        <option value="" hidden selected>…</option>
                    </select>
                    <select class="customRoll-dice2" id="dice2-data">
                        <option value="" hidden selected>…</option>
                    </select>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'VTM5E.Edit'}}"><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'VTM5E.Delete'}}"><i
                                class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Owned Powers Tab --}}
        <div class="tab disciplines" data-group="primary" data-tab="disciplines">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">{{localize "VTM5E.Name"}}</div>
                    <div class="item-name">{{localize "VTM5E.Level"}}</div>
                    <div class="item-controls">
                        <a class="item-control discipline-create" title="{{localize 'VTM5E.Add'}}">
                            <i class="fas fa-plus"></i>
                            {{localize "VTM5E.Add"}}
                        </a>
                    </div>
                </li>
                {{#each data.disciplines as |discipline key|}}
                {{#if discipline.visible}}
                <li class="flexrow item-header">
                    {{#if (and (ne key "rituals") (ne key "ceremonies"))}}
                    <div class="item-name vrollable" data-roll="{{discipline.value}}" data-label="{{key}}">{{localize
                        discipline.name}}</div>
                    <div class="resource-value" data-value="{{discipline.value}}" data-name="data.disciplines.{{key}}.value">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 5}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                    {{else}}
                    <div class="item-name" data-roll="{{discipline.value}}" data-label="{{key}}">{{localize discipline.name}}
                    </div>
                    {{/if}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'VTM5E.AddPower'}}" data-type="power"
                            data-discipline="{{key}}"><i class="fas fa-plus"></i> {{localize "VTM5E.AddPower"}}</a>
                        <a class="item-control discipline-delete" title="{{localize 'VTM5E.Delete'}}"
                            data-discipline="{{key}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{#each (lookup ../actor.disciplines_list key) as |item id|}}
                <li class="item flexcol" data-item-id="{{item._id}}">
                    <div class="flexrow">
                        {{#if item.data.rollable}}
                        <div class="item-image power-rollable" data-id="{{item._id}}" data-use-hunger="1"><img src="{{item.img}}"
                                title="{{item.name}}" width="24" height="24" alt="{{item.name}}" /></div>
                        {{else}}
                        <div class="item-image" data-id="{{item._id}}"><img src="{{item.img}}" title="{{item.name}}"
                                width="24" height="24" alt="{{item.name}}" /></div>
                        {{/if}}
                        <h4 class="item-name collapsible">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'VTM5E.Edit'}}"><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'VTM5E.Delete'}}"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
                {{/if}}
                {{/each}}
            </ol>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <label class="resource-label flex-center">{{localize "VTM5E.Boons"}}</label>
            <ol class="items-list flex-left">
                <li class="item flexrow item-header">
                    <div class="item-name">{{localize "VTM5E.Name"}}</div>
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "VTM5E.Type"}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'VTM5E.AddItem'}}"
                            data-type="boon"><i class="fas fa-plus"></i> {{localize "VTM5E.AddItem"}}
                        </a>
                    </div>
                </li>
                {{#each actor.boons as |item id|}}
                <li class="item flexcol" data-item-id="{{item._id}}">
                    <div class="flexrow">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"
                            alt="{{item.name}}" />
                        </div>
                        <h4 class="item-name collapsible">{{item.name}}</h4>
                        <h4 class="item-name">{{item.data.boontype}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'VTM5E.Edit'}}"><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'VTM5E.Delete'}}"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
            </ol>
            <br/>
            <label class="resource-label flex-center">{{localize "VTM5E.Features"}}</label>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name-header">{{localize "VTM5E.Name"}}</div>
                    <div class="item-image"></div>
                    <div class="item-name-header">{{localize "VTM5E.Points"}}</div>
                    <div class="item-controls"></div>
                </li>
                {{#each actor.features as |feature key|}}
                <li class="flexrow item-header">
                    <div class="item-name">{{localize (generateFeatureLabel key)}}</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="{{localize 'VTM5E.AddFeat'}}" data-type="feature"
                            data-featuretype="{{key}}"><i class="fas fa-plus"></i> {{localize "VTM5E.AddFeat"}}</a>
                    </div>
                </li>
                {{#each feature as |item id|}}
                <li class="item flexcol" data-item-id="{{item._id}}">
                    <div class="flexrow">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"
                                alt="{{item.name}}" />
                        </div>
                        <h4 class="item-name collapsible">{{item.name}}</h4>
                        {{#if (ne key "background")}}
                        <div class="resource-value-static" data-value="{{item.data.points}}" data-name="items.{{item._id}}">
                            {{#numLoop 5}}
                            <span class="resource-value-static-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                        {{else}}
                        <div class="resource-value" data-value="{{item.data.points}}" data-name="items.{{item._id}}">
                            <span class="resource-value-empty"></span>
                            {{#numLoop 5}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                        {{/if}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize 'VTM5E.Edit'}}"><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize 'VTM5E.Delete'}}"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="content">
                        {{{item.data.description}}}
                    </div>
                </li>
                {{/each}}
                {{/each}}
            </ol>
        </div>

        {{!-- Blood Tab --}}
        <div class="tab blood" data-group="primary" data-tab="blood">
            <div class="resource flexrow grid grid-2col">
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.BloodPotency"}}: </label>
                    <div class="resource-value" data-value="{{data.blood.potency}}" data-name="data.blood.potency">
                        <span class="resource-value-empty"></span>
                        {{#numLoop 10}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
                <div class="flex-group-center flexrow">
                    <label class="resource-label">{{localize "VTM5E.BloodResonance"}}: </label>
                    <input type="text" name="data.blood.resonance" value="{{data.blood.resonance}}" />
                </div>
            </div>
            <div class="resource flexrow grid grid-2col">
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.BloodSurge"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "surge"}}</p>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.MendAmount"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "mend"}}</p>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.PowerBonus"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "power"}}</p>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.RouseReRoll"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "rouse"}}</p>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.FeedingPenalty"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "feeding"}}</p>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.BaneSeverity"}}:</label>
                    <p>{{lookup (lookup blood_potency data.blood.potency) "bane"}}</p>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="resource flexrow grid grid-3col">
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Concept"}}</label>
                    <input type="text" name="data.headers.concept" value="{{data.headers.concept}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Chronicle"}}</label>
                    <input type="text" name="data.headers.chronicle" value="{{data.headers.chronicle}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Ambition"}}</label>
                    <input type="text" name="data.headers.ambition" value="{{data.headers.ambition}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Sire"}}</label>
                    <input type="text" name="data.headers.sire" value="{{data.headers.sire}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Desire"}}</label>
                    <input type="text" name="data.headers.desire" value="{{data.headers.desire}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.Generation"}}</label>
                    <input type="text" name="data.headers.generation" value="{{data.headers.generation}}" />
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.ChronicleTenets"}}</label>
                    <textarea name="data.headers.tenets" rows="10">{{data.headers.tenets}}
</textarea>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.TouchstonesAndConvictions"}}</label>
                    <textarea name="data.headers.touchstones" rows="10">{{data.headers.touchstones}}
</textarea>
                </div>
                <div class="flex-group-center">
                    <label class="resource-label">{{localize "VTM5E.ClanBane"}}</label>
                    <textarea name="data.headers.bane" rows="10">{{data.headers.bane}}
</textarea>
                </div>
            </div>
            <label class="resource-label flex-center">{{localize "VTM5E.Biography"}}</label>
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Other Tab --}}
        <div class="tab other" data-group="primary" data-tab="other">
            <label class="resource-label flex-center">{{localize "VTM5E.Notes"}}</label>
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            <label class="resource-label flex-center">{{localize "VTM5E.Equipment"}}</label>
            {{editor content=data.equipment target="data.equipment" button=true owner=owner editable=editable}}
        </div>
        
    </section>
</form>
