<form class="{{cssClass}} flexcol limited" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="100"
            alt="Profile Image" />
        <h2 class="limited-charname">{{actor.name}}</h2>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab appearance description-content">
            {{#if isCharacter}}
            {{editor enrichedAppearance target="system.appearance" button=true editable=editable}}
            {{else}}
            {{editor enrichedBiography target="system.biography" button=true editable=editable}}
            {{/if}}
        </div>
    </section>
</form>
