<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} mortal-sheet" autocomplete="off">
    {{!-- Actor Type Banner --}}
    <div class="sheetBanner">
      <h1>{{ sheetType }}</h1>
    </div>

    {{!-- Mortal Sheet Header --}}
    <header class="actor-header">
        <div class="header-fields-top">
          <div class="header-profile-img">
              {{!-- Actor image and sheet lock toggle button --}}
              {{> "systems/vtm5e/templates/actor/parts/profile-img.html"}}
          </div>
          <div class="header-rows-top">
              <div class="header-row-2">
                  {{!-- Text input header fields --}}
                  <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'VTM5E.Name'}}" /></h1>

                    {{> "systems/vtm5e/templates/actor/parts/exp.html"}}

                    {{> "systems/vtm5e/templates/actor/parts/health.html"}}

                    {{> "systems/vtm5e/templates/actor/parts/willpower.html"}}
              </div>
          </div>
      </div>
    </header>

    {{!-- Mortal Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="stats">{{localize "VTM5E.Stats"}}</div>
        <div class="item" data-tab="features">{{localize "VTM5E.Features"}}</div>
        <div class="item" data-tab="description">{{localize "VTM5E.Description"}}</div>
        <div class="item" data-tab="other">{{localize "VTM5E.Other"}}</div>
    </nav>

    {{!-- Mortal Sheet Body --}}
    <section class="sheet-body">

        {{!-- Stats Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/stats.html"}}

        {{!-- Owned Features Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/features.html"}}

        {{!-- Biography Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/biography.html"}}

        {{!-- Other Tab --}}
        {{> "systems/vtm5e/templates/actor/parts/other.html"}}

    </section>
</form>
