<form class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} spc-sheet" autocomplete="off">

    {{!-- SPC Sheet Header --}}
    <header class="sheet-header">
        {{> "systems/wod5e/templates/actor/parts/profile-img.html"}}
        <div class="header-fields">
            <div class="grid grid-3col flexrow">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'VTM5E.Name'}}" /></h1>
                <div class="resource flex-group-center difficulty">
                    {{> "systems/wod5e/templates/actor/parts/generaldifficulty.html"}}
                </div>
            </div>
            <div class="resources grid grid-2col">
                {{> "systems/wod5e/templates/actor/parts/health.html"}}
                {{> "systems/wod5e/templates/actor/parts/willpower.html"}}
            </div>
        </div>
    </header>

    {{!-- SPC Sheet Body --}}
    <section class="sheet-body">
        <div class="resource grid grid-2col flexrow">
        {{> "systems/wod5e/templates/actor/parts/standard-dice-pools.html"}}
        
        {{> "systems/wod5e/templates/actor/parts/exceptional-dice-pools.html"}}
        
        {{> "systems/wod5e/templates/actor/parts/notes.html"}}

        {{> "systems/wod5e/templates/actor/parts/spc-disciplines.html"}}
        </div>
    </section>
</form>
