<div class="resource flex-group-center frenzy">
    <label for="placeholder" class="resource-label">{{localize "WOD5E.VTM.Frenzy"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="system-rollable frenzy-roll" title="{{localize 'WOD5E.VTM.RollFrenzy'}}">
            {{localize "WOD5E.RollList.Label"}}
        </button>
    </div>
</div>
