<div class="resource flex-group-center frenzy">
    <label for="placeholder" class="resource-label">{{localize "WOD5E.VTM.Frenzy"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="rollable" type="button" name="frenzy" data-disable-advanced-dice="true" data-use-absolute-value="true"
            data-absolute-value="{{frenzy actor.system.willpower.max actor.system.willpower.superficial actor.system.willpower.aggravated actor.system.humanity.value}}"
            data-label="{{localize 'WOD5E.VTM.ResistingFrenzy'}}...">{{localize "WOD5E.Roll.Label"}}</button>
    </div>
</div>