<div class="resource flex-group-center hunger">
    <label for="actor.system.hunger.value" class="resource-label">{{localize "WOD5E.VTM.Hunger"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-value" data-value="{{actor.system.hunger.value}}" data-name="system.hunger.value">
            <span class="resource-value-empty hunger-value"></span>
            {{#numLoop 5}}
            <span class="resource-value-step hunger-value" data-index="{{this}}"></span>
            {{/numLoop}}
        </div>
    </div>
</div>