<div class="resource flex-group-center danger">
    <div class="flexrow">
        <label for="system.danger.value" class="resource-label">{{localize "WOD5E.HTR.Danger"}}</label>
    </div>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-counter editable" data-states="-:value" data-value="{{actor.system.danger.value}}" data-name="system.danger">
            {{#numLoop 5}}
            <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>
