<div class="resource flex-group-center despair">
    <label class="resource-label">{{localize "WOD5E.HTR.Despair"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <div class="despair-box">
            <span class="despair-toggle{{#if actor.system.despairActive}} active{{/if}}"></span>
        </div>
    </div>
</div>