<label class="dice-tray-label" for="selectedCharacterInput">
    Character: 
</label>
<div class="dice-tray-searchable-select">
    <select id="selectedCharacter" class="dice-tray-select selected-character" name="selectedCharacter">
        {{#each characters key="name" as |character|}}
            {{#if (eq @root.selectedCharacter.id character.id)}}
                <option value="{{character.id}}" selected>{{character.name}}</option>
            {{else}}
                <option value="{{character.id}}">{{character.name}}</option>
            {{/if}}
        {{/each}}
    </select>
    <div id="selectedCharacterCover" class="dice-tray-searchable-select-cover">
        <div class="dice-tray-searchable-select-hover"></div>
        <div id="selectedCharacterFields" class="dice-tray-searchable-select-fields">
            <ul class="dice-tray-searchable-select-options">
                {{#each characters key="name" as |character|}}
                    <li tabindex="-1" value="{{character.id}}">{{character.name}}</li>  
                {{/each}}
            </ul>
            <input id="selectedCharacterInput" class="dice-tray-input dice-tray-searchable-select-input" />
        </div>
    </div>
</div>