<option value="animalism">{{localize "VTM5E.Animalism"}}</option>
<option value="auspex">{{localize "VTM5E.Auspex"}}</option>
<option value="celerity">{{localize "VTM5E.Celerity"}}</option>
<option value="dominate">{{localize "VTM5E.Dominate"}}</option>
<option value="fortitude">{{localize "VTM5E.Fortitude"}}</option>
<option value="obfuscate">{{localize "VTM5E.Obfuscate"}}</option>
<option value="potence">{{localize "VTM5E.Potence"}}</option>
<option value="presence">{{localize "VTM5E.Presence"}}</option>
<option value="protean">{{localize "VTM5E.Protean"}}</option>
<option value="sorcery">{{localize "VTM5E.BloodSorcery"}}</option>
<option value="oblivion">{{localize "VTM5E.Oblivion"}}</option>
<option value="alchemy">{{localize "VTM5E.ThinBloodAlchemy"}}</option>
<option value="rituals">{{localize "VTM5E.Rituals"}}</option>
<option value="ceremonies">{{localize "VTM5E.Ceremonies"}}</option>