<option value="animalism">{{localize "WOD5E.Animalism"}}</option>
<option value="auspex">{{localize "WOD5E.Auspex"}}</option>
<option value="celerity">{{localize "WOD5E.Celerity"}}</option>
<option value="dominate">{{localize "WOD5E.Dominate"}}</option>
<option value="fortitude">{{localize "WOD5E.Fortitude"}}</option>
<option value="obfuscate">{{localize "WOD5E.Obfuscate"}}</option>
<option value="potence">{{localize "WOD5E.Potence"}}</option>
<option value="presence">{{localize "WOD5E.Presence"}}</option>
<option value="protean">{{localize "WOD5E.Protean"}}</option>
<option value="sorcery">{{localize "WOD5E.BloodSorcery"}}</option>
<option value="oblivion">{{localize "WOD5E.Oblivion"}}</option>
<option value="alchemy">{{localize "WOD5E.ThinBloodAlchemy"}}</option>
<option value="rituals">{{localize "WOD5E.Rituals"}}</option>
<option value="ceremonies">{{localize "WOD5E.Ceremonies"}}</option>