<option value="arsenal">{{localize "HTR5E.Arsenal"}}</option>
<option value="fleet">{{localize "HTR5E.Fleet"}}</option>
<option value="ordnance">{{localize "HTR5E.Ordnance"}}</option>
<option value="library">{{localize "HTR5E.Library"}}</option>
<option value="improvisedgear">{{localize "HTR5E.ImprovisedGear"}}</option>
<option value="globalaccess">{{localize "HTR5E.GlobalAccess"}}</option>
<option value="dronejockey">{{localize "HTR5E.DroneJockey"}}</option>
<option value="beastwhisperer">{{localize "HTR5E.BeastWhisperer"}}</option>
<option value="sensetheunnatural">{{localize "HTR5E.SenseTheUnnatural"}}</option>
<option value="repeltheunnatural">{{localize "HTR5E.RepelTheUnnatural"}}</option>
<option value="thwarttheunnatural">{{localize "HTR5E.ThwartTheUnnatural"}}</option>
<option value="artifact">{{localize "HTR5E.Artifact"}}</option>