<option value="arsenal">{{localize "VTM5E.Arsenal"}}</option>
<option value="fleet">{{localize "VTM5E.Fleet"}}</option>
<option value="ordnance">{{localize "VTM5E.Ordnance"}}</option>
<option value="library">{{localize "VTM5E.Library"}}</option>
<option value="improvisedgear">{{localize "VTM5E.ImprovisedGear"}}</option>
<option value="globalaccess">{{localize "VTM5E.GlobalAccess"}}</option>
<option value="dronejockey">{{localize "VTM5E.DroneJockey"}}</option>
<option value="beastwhisperer">{{localize "VTM5E.BeastWhisperer"}}</option>
<option value="sensetheunnatural">{{localize "VTM5E.SenseTheUnnatural"}}</option>
<option value="repeltheunnatural">{{localize "VTM5E.RepelTheUnnatural"}}</option>
<option value="thwarttheunnatural">{{localize "VTM5E.ThwartTheUnnatural"}}</option>
<option value="artifact">{{localize "VTM5E.Artifact"}}</option>