<option value="native">{{localize "VTM5E.Native"}}</option>
<option value="rite">{{localize "VTM5E.Rite"}}</option>
<option value="ragabash">{{localize "VTM5E.Ragabash"}}</option>
<option value="theurge">{{localize "VTM5E.Theurge"}}</option>
<option value="philodox">{{localize "VTM5E.Philodox"}}</option>
<option value="galliard">{{localize "VTM5E.Galliard"}}</option>
<option value="ahroun">{{localize "VTM5E.Ahroun"}}</option>
<option value="blackfury">{{localize "VTM5E.BlackFury"}}</option>
<option value="bonegnawer">{{localize "VTM5E.BoneGnawer"}}</option>
<option value="childrenofgaia">{{localize "VTM5E.ChildrenOfGaia"}}</option>
<option value="galestalker">{{localize "VTM5E.Galestalker"}}</option>
<option value="ghostcouncil">{{localize "VTM5E.GhostCouncil"}}</option>
<option value="glasswalker">{{localize "VTM5E.GlassWalker"}}</option>
<option value="hartwarden">{{localize "VTM5E.HartWarden"}}</option>
<option value="redtalon">{{localize "VTM5E.RedTalon"}}</option>
<option value="shadowlord">{{localize "VTM5E.ShadowLord"}}</option>
<option value="silentstrider">{{localize "VTM5E.SilentStrider"}}</option>
<option value="silverfang">{{localize "VTM5E.SilverFang"}}</option>