<option value="boneyard">{{localize "VTM5E.Boneyard"}}</option>
<option value="caul">{{localize "VTM5E.Caul"}}</option>
<option value="curse">{{localize "VTM5E.Curse"}}</option>
<option value="dirge">{{localize "VTM5E.Dirge"}}</option>
<option value="marionette">{{localize "VTM5E.Marionette"}}</option>
<option value="memoria">{{localize "VTM5E.Memoria"}}</option>
<option value="oracle">{{localize "VTM5E.Oracle"}}</option>
<option value="rage">{{localize "VTM5E.Rage"}}</option>
<option value="shroud">{{localize "VTM5E.Shroud"}}</option>
<option value="tomb">{{localize "VTM5E.Tomb"}}</option>
<option value="void">{{localize "VTM5E.Void"}}</option>
<option value="well">{{localize "VTM5E.Well"}}</option>