<option value="keyBeasts">{{localize "VTM5E.KeyBeasts"}}</option>
<option value="keyBlood">{{localize "VTM5E.KeyBlood"}}</option>
<option value="keyChance">{{localize "VTM5E.KeyChance"}}</option>
<option value="keyColdWind">{{localize "VTM5E.KeyColdWind"}}</option>
<option value="keyDeepWaters">{{localize "VTM5E.KeyDeepWaters"}}</option>
<option value="keyDisease">{{localize "VTM5E.KeyDisease"}}</option>
<option value="keyGraveDirt">{{localize "VTM5E.KeyGraveDirt"}}</option>
<option value="keyPyreFlame">{{localize "VTM5E.KeyPyreFlame"}}</option>
<option value="keyStillness">{{localize "VTM5E.KeyStillness"}}</option>