{{!-- Macro Tab --}}
<div class="tab macro" data-group="primary" data-tab="macro">
    <div>
        {{localize "WOD5E.Macro.MacroNote"}}
    </div>
    <hr>
    <div class="grid grid-2col">
        <b>{{localize "WOD5E.Macro.MacroID"}}</b>
        <input name="system.macroid" type="text" value="{{item.system.macroid}}"/>
    </div>
</div>
