<option value="academics">{{localize "VTM5E.Academics"}}</option>
<option value="animal ken">{{localize "VTM5E.AnimalKen"}}</option>
<option value="athletics">{{localize "VTM5E.Athletics"}}</option>
<option value="awareness">{{localize "VTM5E.Awareness"}}</option>
<option value="brawl">{{localize "VTM5E.Brawl"}}</option>
<option value="craft">{{localize "VTM5E.Craft"}}</option>
<option value="drive">{{localize "VTM5E.Drive"}}</option>
<option value="etiquette">{{localize "VTM5E.Etiquette"}}</option>
<option value="finance">{{localize "VTM5E.Finance"}}</option>
<option value="firearms">{{localize "VTM5E.Firearms"}}</option>
<option value="insight">{{localize "VTM5E.Insight"}}</option>
<option value="intimidation">{{localize "VTM5E.Intimidation"}}</option>
<option value="investigation">{{localize "VTM5E.Investigation"}}</option>
<option value="larceny">{{localize "VTM5E.Larceny"}}</option>
<option value="leadership">{{localize "VTM5E.Leadership"}}</option>
<option value="medicine">{{localize "VTM5E.Medicine"}}</option>
<option value="melee">{{localize "VTM5E.Melee"}}</option>
<option value="occult">{{localize "VTM5E.Occult"}}</option>
<option value="performance">{{localize "VTM5E.Performance"}}</option>
<option value="persuasion">{{localize "VTM5E.Persuasion"}}</option>
<option value="politics">{{localize "VTM5E.Politics"}}</option>
<option value="science">{{localize "VTM5E.Science"}}</option>
<option value="stealth">{{localize "VTM5E.Stealth"}}</option>
<option value="streetwise">{{localize "VTM5E.Streetwise"}}</option>
<option value="subterfuge">{{localize "VTM5E.Subterfuge"}}</option>
<option value="survival">{{localize "VTM5E.Survival"}}</option>
<option value="technology">{{localize "VTM5E.Technology"}}</option>
