<h1 class="group-type-field">
  <select class="no-border group-type-selector" name="system.groupType" data-type="String"{{#if actor.limited}} disabled{{/if}}>
    {{selectOptions groupTypes selected=actor.system.groupType localize=true}}
  </select>
</h1>
