button {
  border-radius: 0;
}

form button {
  border-radius: 0;
  box-shadow: 0 1px 2px 0 #2a00049e;
}

button:hover,
button:focus {
  outline: none;
  box-shadow: inset 0 0 5px #000;
  transition-duration: 0.3s;
}

.rollable:hover,
.rollable:focus,
.power-rollable:hover,
.power-rollable:focus,
.edge-rollable:hover,
.edge-rollable:focus,
.gift-rollable:hover,
.gift-rollable:focus,
.system-rollable:hover,
.system-rollable:focus {
    color: #000;
    cursor: pointer;
}

.wod5e button.rollable {
    color: #fff;
    font-family: cormorantLight, serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    border: none;
    box-shadow: none;
}

.directory .action-buttons button {
  border: 1px solid var(--color-shadow-highlight);
}

.wod5e .actor-header .profile-img-zone button {
  color: #fff;
  font-family: cormorantlight, sans-serif;
  font-weight: 700;
  border: none;
  box-shadow: none;
}

.wod5e .actor-header .header-fields-top .header-profile-img button {
  margin: 0;
}

.wod5e .actor-header .profile-img-zone button:hover {
  box-shadow: inset 0 0 5px #000;
}

button.lock-btn {
  border-radius: 0 0 3px 3px;
}