.wod5e .dialog-contents .dice-group-header {
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  color: #e5e5e5;
  display: flex;
  flex-direction: row;
}

.wod5e .dialog-contents .base-dice-group {
  border-radius: 0 0 5px 5px;
  border-top: 0;
  display: flex;
  flex-direction: row;
}

.wod5e .dialog-contents .base-dice-group .basic-dice, .wod5e .dialog-contents .base-dice-group .advanced-dice, .wod5e .dialog-contents .dice-group-header label {
  margin-left: auto;
  margin-right: auto;
}

.wod5e .dialog-contents input {
  border-radius: 0;
}

.wod5e .dialog-contents .diceInput input {
  max-width: 50px;
}

.wod5e .dialog-contents .diceInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wod5e .dialog-contents .diceInput img {
  background-color: #000;
}

.wod5e .dialog-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}