.wod5e .dialog-contents .dice-group-header {
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  color: #e5e5e5;
  display: flex;
  flex-direction: row;
}

.wod5e .dialog-contents .base-dice-group {
  border-radius: 0 0 5px 5px;
  border-top: 0;
  display: flex;
  flex-direction: row;
}

.wod5e .dialog-contents .base-dice-group .basic-dice,
.wod5e .dialog-contents .base-dice-group .advanced-dice,
.wod5e .dialog-contents .dice-group-header label {
  margin-left: auto;
  margin-right: auto;
}

.wod5e .dialog-contents input {
  border-radius: 0;
}

.wod5e .dialog-contents .dice-input input {
  max-width: 50px;
}

.wod5e .dialog-contents .dice-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wod5e .dialog-contents .dice-input img {
  background-color: #000;
}

.wod5e .dialog-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.wod5e .dialog-contents .dialog-control {
  margin-top: 5px;
}

.wod5e .dialog-contents .dialog-control:hover,
.wod5e .dialog-contents .dialog-control:focus {
    color: #000;
    cursor: pointer;
}

.wod5e .dialog-contents .situational-modifiers {
  position: absolute;
  display: inline-block;
  width: 250px;
  top: 0;
  left: 400px;
  background-color: #faf5ed;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  border-width: 3px;
}

.wod5e .dialog-contents .situational-modifiers .list-title {
  font-weight: bold;
}

.wod5e .dialog-contents .custom-modifiers .mod-delete {
  margin: 5px;
}

.wod5e .dialog-contents .custom-modifiers .mod-label {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.wod5e .dialog-contents .custom-modifiers .mod-value {
  max-width: 30px;
  margin-right: 45px;
}

.wod5e .dialog-contents .situational-modifiers .mod-header {
  font-weight: bold;
}

.wod5e .dialog-contents .selectors-group {
  display: flex;
  flex-direction: row;
}

.wod5e .dialog-contents .selectors-group .primary-selector {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.wod5e .dialog-contents .selectors-group .selector-title {
  font-size: 13pt;
  font-weight: bold;
  text-decoration: underline;
}

.wod5e .dialog-contents .selectors-group .middle {
  font-size: 20pt;
}

.wod5e .dialog-contents .selectors-group .selector-title,
.selector-content {
  margin: auto;
}

.wod5e .dialog-contents .secondary-selector {
  text-align: center;
  margin-bottom: 5px;
}

.wod5e .dialog-contents .secondary-selector .selector-title {
  font-weight: bold;
  text-decoration: underline;
}
