input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"] {
  border-radius: 0;
}

.wod5e input {
  font-family: Amarante, serif;
  background: unset;
  border: 0;
}

.wod5e.item .window-content input {
  float: left;
  background-color: white;
  border: 1px solid var(--color-border-highlight);
}

.wod5e.item.sheet .window-content input[type="number"] {
  max-width: 35px;
}

.wod5e .actor-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align-last: center;
}

.wod5e .item-header h1.charname {
  height: initial;
  padding: 0;
  margin: 0;
  border-bottom: 0;
}

.wod5e .item-header h1.charname input {
  padding: 0.7em 0 0.8em 0.2em;
  background: none;
  margin-left: 0.08em;
}

.wod5e .actor-header h1.charname {
  height: initial;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.wod5e .tox .tox-editor-container {
  background: #fff;
}

.wod5e .tox .tox-edit-area {
  padding: 0 8px;
}

.flex-group-center input[type="text"] {
  font-family: Vollkorn, serif;
  background: unset;
}

#hud .placeable-hud .middle .attribute input {
  pointer-events: none;
}

.wod5e input[type="checkbox"] {
  cursor: pointer;
}

.wod5e .input-value {
  max-width: 45px;
}

.wod5e .tox-editor-container button {
  background-color: #fff !important;
  color: #000 !important;
}