:root {
  --hunter-primary: #cc6d28;
}

/* wod5e.css */
.wod5e.hunter-sheet.window-app {
  border: 4px solid var(--hunter-primary);
}

.wod5e.hunter-sheet.window-app .window-header {
  border-bottom: 4px double var(--hunter-primary);
}

.wod5e.hunter-sheet.window-app .window-resizable-handle {
  border-top: 3px double var(--hunter-primary);
  border-left: 3px double var(--hunter-primary);
  border-bottom: 1px solid var(--hunter-primary);
  border-right: 1px solid var(--hunter-primary);
  border-radius: 0;
}

.wod5e.hunter-sheet.window-app .fa-arrows-alt-h::before,
.wod5e.hunter-sheet.window-app .fa-left-right::before {
    color: #ff9a02;
}

.wod5e.hunter-sheet .window-content .sheet-body .tab > .resource-label,
.wod5e.hunter-sheet .items-list .item-header {
  color: var(--hunter-primary);
  border-color: var(--hunter-primary);
}

.wod5e.hunter-sheet h1,
.wod5e.hunter-sheet .flex-group-center,
.wod5e.hunter-sheet .flex-group-left,
.wod5e.hunter-sheet .flex-group-right,
.wod5e.hunter-sheet .window-content nav.sheet-tabs .item.active,
.wod5e.hunter-sheet .actor-header .resource,
.wod5e.hunter-sheet .items-list .item,
.wod5e.hunter-sheet.window-app,
.wod5e.hunter-sheet.window-app .window-header {
  border-color: var(--hunter-primary);
}

.wod5e.hunter-sheet ::-webkit-scrollbar-thumb {
  background: var(--hunter-primary);
}

.wod5e.hunter-sheet .profile-img,
.wod5e.hunter-sheet .item-image img {
  background: var(--hunter-primary);
}

.wod5e.hunter-sheet .sheet-banner {
  background: var(--hunter-primary);
  color: #FFF;
}

.wod5e.hunter-sheet .actor-header .profile-img-zone h1 {
  color: var(--hunter-primary);
}

.wod5e .item-header .edge .perk {
  margin-left: auto;
  margin-right: auto;
}

/* buttons.css */
.wod5e.hunter-sheet button {
  background: #df660e;
  color: #fff;
  font-family: cormorantLight, serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: none;
  box-shadow: none;
}

.wod5e.hunter-sheet button:hover,
.wod5e.hunter-sheet button:focus {
  outline: none;
  box-shadow: inset 0 0 5px #000;
  background: #ff6400;
  color: #f7f3eb;
  transition-duration: 0.3s;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.wod5e.hunter-sheet .item-image.edge-rollable img {
    box-shadow: inset 1px 1px 4px 0 orange;
    border: 1px solid var(--hunter-primary);
    filter: drop-shadow(2px 2px 1px grey);
    border-radius: 4px;
}

/* dialog.css */
.wod5e.hunter-dialog .dialog-contents .dice-group-header {
  background-color: var(--hunter-primary);
}

/* resource-counters.css */
.wod5e.hunter-sheet .resource-value .resource-value-step.active {
  background-color: var(--hunter-primary);
}

.wod5e.hunter-sheet .resource-value-static .resource-value-static-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.wod5e.hunter-sheet .resource-value-static .resource-value-static-step.active {
  background-color: var(--hunter-primary);
}

.wod5e .cell-resource-counter .cell-resource-counter-step[data-state="-"],
.wod5e.hunter-sheet .cell-resource-counter .cell-resource-counter-step[data-state="-"] {
  background-color: var(--hunter-primary);
}

.wod5e.hunter-sheet .resource-counter .resource-counter-step[data-state="-"],
.wod5e.hunter-sheet .despair-box .despair-toggle.active {
  background-color: var(--hunter-primary);
}

.wod5e.hunter-sheet .despair-box {
  margin-top: 5px;
}

.wod5e.hunter-sheet .despair-box .despair-toggle {
  height: 14px;
  width: 14px;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
}

/* groupings.css */
.wod5e.hunter-sheet .flex-group-center,
.wod5e.hunter-sheet .flex-group-left,
.wod5e.hunter-sheet .flex-group-right {
    border: 1px solid var(--hunter-primary);
}

/* inputs.css */
.wod5e.hunter-sheet input, .wod5e.hunter-sheet select {
  border: 1px solid var(--hunter-primary);
}