@use "styles.scss" as *;

/* Dice Tray */
.dice-tray {
  flex: 0;
  padding: 5px;
  margin: 3px;

  background: url("../../static/assets/images/background-green-marble.jpg"),
    $success;
  background-size: cover;
  border: 2px solid $success;
  border-radius: 5px 5px 0 0;

  > * {
    margin: 2px;
  }

  .flexrow {
    flex-wrap: nowrap;
  }

  &-button {
    .roll-image {
      border: 0;
      filter: invert(100%);
    }

    &.roll-button {
      height: 100%;
      grid-area: roll;
    }

    &.small-button {
      height: 20px;
      width: 20px;
    }
  }

  &-character {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &-custom-rolls {
    display: grid;
    margin: 0.5em 0;
    grid-template-columns: 2fr 15px 2fr 1fr;
    grid-template-areas:
      "pool1 concat pool2 roll"
      "opts1 .      opts2 roll";
  }

  &-filter-spacer {
    padding: 6px;
  }

  &-pool-filters {
    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1px;

      border-radius: 3px;

      font-size: 11px;
      line-height: 10px;

      &[type="radio"] {
        opacity: 0.011;
        z-index: 2;
      }

      &[type="radio"]:checked + label {
        color: var(--color-text-hyperlink);
        border-color: var(--color-text-hyperlink);
        box-shadow: 0 0 6px inset var(--color-text-hyperlink);
      }
    }

    label {
      @extend input;
      padding: 5px;
      cursor: pointer;
      z-index: 1;
    }

    &.pool1-filters {
      grid-area: opts1;
    }
    &.pool2-filters {
      grid-area: opts2;
    }
  }

  &-searchable {
    &-select {
      height: 31px;
      position: relative;

      &-cover {
        min-height: 31px;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      &-hover {
        width: 100%;
        height: 31px;
        transition: all ease-in-out 0.25s;

        &:hover {
          border: 1px solid var(--color-text-hyperlink);
          box-shadow: 0 0 6px inset var(--color-text-hyperlink);

          li {
            &:not(:hover) {
              background: $bg;
              color: $borderDark;
            }
          }
        }
      }

      &-fields {
        display: none;
        position: relative;
        z-index: 3;

        border: 1px solid var(--color-border-dark-tertiary);
        border-bottom: 0;
      }

      &-input {
        box-sizing: border-box;
        padding-left: 6px;
        width: 100%;
      }

      &-options {
        max-height: 500px;
        list-style: none;
        overflow-y: scroll;

        background: var(--color-text-light-0);
        color: var(--color-text-dark-1);

        padding-left: 0;
        margin: 0;

        li {
          height: 29px;
          overflow: hidden;
          padding-left: 5px;

          font-size: 14px;
          line-height: 29px;
          text-overflow: ellipsis;

          &:hover,
          &:focus {
            background: #1e90ff;
            cursor: pointer;
            color: var(--color-text-light-0);
            outline: none;
          }
        }
      }
    }
  }

  button {
    @include flexAlign(center, center);

    display: flex;
    position: relative;
    flex-direction: row;

    background: transparent;
    border: 1px solid $borderDark;
    color: $bg;

    box-shadow: 0 0 6px inset var(--color-border-dark-tertiary);
    font-weight: bold;
    font-size: 14px;
    transition: all ease-in-out 0.25s;

    &:hover {
      color: var(--color-text-hyperlink);
      border-color: var(--color-text-hyperlink);
      box-shadow: 0 0 6px inset var(--color-text-hyperlink);
    }
  }

  .dice-tray {
    &-label {
      display: block;
      height: 31px;
      line-height: 31px;
    }

    &-input,
    &-select {
      display: block;
      height: 31px;
      width: 100%;

      background-color: hsla(0, 0%, 98%, 15%);
      border: 1px solid $borderDark;
      box-shadow: 0 0 6px inset $borderLight;
      color: $borderLight;

      transition: all ease-in-out 0.25s, visibility 0s;

      font-size: 14px;

      &:hover,
      &:focus {
        border: 1px solid var(--color-text-hyperlink);
        box-shadow: 0 0 6px inset var(--color-text-hyperlink);
      }
    }

    &-concatenate {
      display: block;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }
  }
}
