<form class="dialog-contents flex-group-center">
  <select id="optionSelect">
    {{#each list as |item key|}}
      {{#unless item.modified}}
        <option value="{{key}}" data-label="{{item.label}}">{{item.label}}</option>
      {{/unless}}
    {{/each}}
  </select>
</form>
