<form class="dialog-contents">
  <!-- Unless a skill/attribute is already selected, show skill selection -->
  {{#or skill attribute}}
    <div class="primary-selector">
      <select>
        <option value="none">None</option>
        {{> "systems/vtm5e/templates/item/parts/skills.hbs"}}
      </select>
    </div>
  {{else}}
    <!-- If a skill/attribute is already selected, present it as a numerical value -->
    <div class="primary-selector">
      {{#if skill}}
        {{skill.value}}
      {{else if attribute}}
        {{attribute.value}}
      {{/if}}
    </div>
  {{/or}}

  <span>+</span>

  <!-- Attribute selection -->
  <div class="primary-selector">
      <select>
        <option value="none">None</option>
        {{> "systems/vtm5e/templates/item/parts/attributes.hbs"}}
      </select>
  </div>

  <!-- If the actor is a vampire, show option to add Discipline dots -->
  {{#ifeq system "vampire"}}
    <div class="secondary-selector">
      <div>Add Discipline:</div>
      <select>
        <option value="none">None</option>
        {{> "systems/vtm5e/templates/item/parts/disciplines.hbs"}}
      </select>
    </div>
  {{/ifeq}}

  <!-- If the actor is a werewolf, show option to add Renown dots-->
  {{#ifeq system "werewolf"}}
    <div class="secondary-selector">
      <div>Add Renown:</div>
      <select>
        <option value="none">None</option>
        {{> "systems/vtm5e/templates/item/parts/renown.hbs"}}
      </select>
    </div>
  {{/ifeq}}
</form>