<form class="dialog-contents">
  <!-- Unless a skill is already selected, show skill selection -->
  {{#unless skill}}
    <div class="primary-selector">

    </div>
  {{/unless}}

  <span>+</span>

  <!-- Attribute selection -->
  <div class="primary-selector">

  </div>

  <!-- If the actor is a vampire, show option to add Discipline dots -->
  {{#ifeq system "vampire"}}
    <div class="secondary-selector">

    </div>
  {{/ifeq}}

  <!-- If the actor is a werewolf, show option to add Renown dots-->
  {{#ifeq system "werewolf"}}
    <div class="secondary-selector">

    </div>
  {{/ifeq}}
</form>