<form class="dialog-contents">
  <div class="dice-group-header flex-group-center">
    {{#unless disableBasicDice}}
      <label>{{localize 'WOD5E.VampireDice' }}</label>
    {{/unless}}
    {{#unless disableAdvancedDice}}
      <label>{{localize 'WOD5E.HungerDice' }}</label>
    {{/unless}}
  </div>
  <div class="base-dice-group flex-group-center">
    {{#unless disableBasicDice}}
      <div class="basic-dice">
        <div class="diceInput">
          <img width="50" height="50" src="/systems/vtm5e/assets/icons/dialog/vampire-dice.png"/>
          <div class="flexrow">
            <i class="fas fa-minus dialog-control dialog-minus" data-resource="inputBasicDice" data-action="minus"></i>
            <input type="text" id="inputBasicDice" value="{{basicDice}}">
            <i class="fas fa-plus dialog-control dialog-plus" data-resource="inputBasicDice" data-action="plus"></i>
          </div>
        </div>
      </div>
    {{/unless}}
    {{#unless disableAdvancedDice}}
      <div class="advanced-dice">
        <div class="diceInput">
          <img width="50" height="50" src="/systems/vtm5e/assets/icons/dialog/hunger-dice.png"/>
          <div class="flexrow">
            <i class="fas fa-minus dialog-control dialog-minus" data-resource="inputAdvancedDice" data-action="minus"></i>
            <input type="text" id="inputAdvancedDice" value="{{advancedDice}}">
            <i class="fas fa-plus dialog-control dialog-plus" data-resource="inputAdvancedDice" data-action="plus"></i>
          </div>
        </div>
      </div>
    {{/unless}}
  </div>
  {{> "systems/vtm5e/templates/ui/parts/roll-dialog-base.html"}}
</form>