<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
            <div class="resource">
              <label class="resource-label">Discipline: </label>
                <select name="data.discipline" data-type="String">
                    {{#select data.discipline}}
                        <option value="animalism">Animalism</option>
                        <option value="auspex">Auspex</option>
                        <option value="celerity">Celerity</option>
                        <option value="dominate">Dominate</option>
                        <option value="fortitude">Fortitude</option>
                        <option value="obfuscate">Obfuscate</option>
                        <option value="potence">Potence</option>
                        <option value="presence">Presence</option>
                        <option value="protean">Protean</option>
                        <option value="sorcery">Blood Sorcery</option>
                        <option value="rituals">Rituals</option>
                        <option value="alchemy">Thin-Blood Alchemy</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </section>
</form>
